<%- include('../includes/head',{title:"Login de Usuário"}) %>
<body>
  <% if (typeof alert !== "undefined") { %>
    <div class="alert <%= `${alert.type}` %>">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <%= alert.msg %>
    </div>
  <% } %>
  <div class="ulp-main">
    <form action="/users/login" class="ulp-grid-container" method="post">
      <div class="ulp-logo">
        <div class="ulp-logo__paw"><a class="ulp-logo__return-home" href="/"></a></div>
      </div>
      <div class="ulp-title">Login Usuário</div>
      <div class="ulp-email">
        <label class="ulp-email__label" for="email">email</label>
        <input class="ulp-email__input ulp-email__input--icon" type="email" name="email" id="email" required 
        >
      </div>
      <div class="ulp-password">
        <label class="ulp-password__label" for="password">senha</label>
        <input class="ulp-password__input ulp-password__input--icon" type="password" name="password" id="password" minlength="6" required>
      </div>
      <div class="ulp-buttons">
        <label class="ulp-buttons__label" for="remember"><input class="ulp-buttons__check" type="checkbox" name="remember" id="remember"> Lembrar senha</label>
        <input class="ulp-buttons__btn-submit" type="submit" value="LOGIN">
      </div>
      <div class="ulp-recoverlink"><a class="ulp-recoverlink__pass" href="#">Esqueceu a senha?</a>
      <input class="ulp-recoverlink__reset" type="email" name="" id="">
      <input class="ulp-recoverlink__reset-btn" type="submit" value="Resetar senha">
      </div>
      <div class="ulp-registerlink">
        <p class="ulp-registerlink__text">
          Não tem uma conta? <a class="ulp-registerlink__signupnow" href="/users/new">Cadastrar agora</a>
        </p>
      </div>
    </form>
  </div>
  <script>
    // validators
    var password = document.getElementById("password");
    password.addEventListener('invalid', function(event){
      if(password.value.length < 6){
        password.setCustomValidity("Digite uma senha com mais de 6 caracteres.");
      } else {
        password.setCustomValidity("");
      }
    });

    var email = document.getElementById("email");
    email.addEventListener('input', function(event){
      if(email.validity.typeMismatch){
        email.setCustomValidity("Digite um e-mail válido.");
      } else {
        email.setCustomValidity("");
      }
    });

    document.querySelector(".ulp-recoverlink__reset").style.display="none";
    document.querySelector(".ulp-recoverlink__reset-btn").style.display="none";

    document.querySelector(".ulp-recoverlink__pass").addEventListener('click', function() {
      if(document.querySelector(".ulp-recoverlink__reset").style.display==="block" && document.querySelector(".ulp-recoverlink__reset-btn").style.display==="block") {
        document.querySelector(".ulp-recoverlink__reset").style.display="none";
        document.querySelector(".ulp-recoverlink__reset-btn").style.display="none";
      } else {
        document.querySelector(".ulp-recoverlink__reset").style.display="block";
        document.querySelector(".ulp-recoverlink__reset-btn").style.display="block";
      }
    });
    
  </script>
</body>