<%- include('includes/head',{title:"Perfil Administrativo Profissional"}) %>
<body>
  <div class="pap-grid-container">
    <div class="pap-header">
      <%- include('includes/header') %>
    </div>
    <div class="pap-profile">perfil</div>
    <div class="pap-form">formulário</div>
    <div class="pap-footer">
      <%- include('includes/footer') %>
    </div>
  </div>
</body>
