<%- include('includes/head',{title:"Buscar Profissional"}) %>
<body>
  <div class="sr-grid-container">
    <div class="sr-header">
      <%- include('includes/header') %>  
    </div>
    <div class="sr-search">busca</div>
    <div class="sr-search-results">perfis profissionais buscados</div>
    <div class="sr-footer">
      <%- include('includes/footer') %> 
    </div>
  </div>
</body>