<%- include('includes/head',{title:"Cadastro de Profissional"}) %>
<body>
  <div class="pr-grid-container">
    <div class="pr-header">
      <%- include('includes/header') %>
    </div>
    <div class="pr-main">form</div>
    <div class="pr-footer">
      <%- include('includes/footer') %>
    </div>
  </div>
</body>