<%- include('../includes/head',{title:"Perfil Público Profissional"}) %>
<body>
  <div class="ppp-grid-container">
    <div class="ppp-header">
      <%- include('../includes/header') %> 
    </div>
    <div class="ppp-profile">img/região de atendimento/serviços</div>
    <div class="ppp-info">nome/avaliação/imagens</div>
    <div class="ppp-footer">
      <%- include('../includes/footer') %> 
    </div>
  </div> 
</body>