<!-- 'error' flash message -->
<% let messages = getMessages() %>
  <% if(messages.error) { %>
    <div class="alert danger" style='display:block; position:relative; z-index:99999'>
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <%= messages.error[0] %>
    </div>
  <% } %>

  <!-- 'success' flash message -->
  <% if(messages.success) { %>
    <div class="alert success" style='display:block; position:relative; z-index:99999'>
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <%= messages.success[0] %>
    </div>
  <% } %>