<div class="footer-grid-container">
  <div class="footer-service-links">
    <section class="services">
      <ul class="services__list">
        <h4 class="services__item1 services__item--title">Serviços</h4>
        <li class="services__item2"><a class="services__link" href="/services#pet-training">Adestramento</a></li>
        <li class="services__item3"><a class="services__link" href="/services#pet-baths">Banho</a></li>
        <li class="services__item4"><a class="services__link" href="/services#pet-sitting">Pet Sitting</a></li>
        <li class="services__item5"><a class="services__link" href="/services#dog-walking">Dog Walking</a></li>
        <li class="services__item6"><a class="services__link" href="/services#pet-grooming">Tosa</a></li>
      </ul>
    </section>
  </div>
  <div class="footer-institutional-links">
    <section class="institutional">
      <ul class="institutional__list">
        <h4 class="institutional__item institutional__item--title">Institucional</h4>
        <li class="institutional__item"><a class="institutional__link" href="/about-us">Quem Somos</a></li>
        <li class="institutional__item"><a class="institutional__link" href="/faq">Ajuda</a></li>
        <li class="institutional__item"><a class="institutional__link" href="/terms-of-use">Termos de uso</a></li>
      </ul>
    </section>
  </div>
  <div class="footer-newsletter">
    <section class="newsletter">
      <div class="newsletter__email">
        <label class="newsletter__register" for="newsletter__register-email"><input class="newsletter__input" type="email" id="newsletter__register-email" name="newsletter__register-email" value="" placeholder="email@superpets.com"><i class="fa fa-location-arrow" id="newsletter__register--submit"></i></label>
      <p class="newsletter__text">Assine nossa newsletter e receba sempre as nossa campanhas e promoções</p>
      </div>
    </section> 
  </div>
  <div class="footer-social-links">
    <section class="social">
      <ul class="social__list">
        <li class="social__item"><a class="social__icon" href="#"><i class="fa fa-instagram"></i></a></li>
        <li class="social__item"><a class="social__icon" href="#"><i class="fa fa-twitter"></i></a></li>
        <li class="social__item"><a class="social__icon" href="#"><i class="fa fa-facebook-f"></i></a></li>
        <li class="social__item"><a class="social__icon" href="#"><i class="fa fa-snapchat"></i></a></li>
      </ul>  
    </section>
  </div>
</div>
<script src="/js/script.js"></script>
