<footer>
  <section class="services">
    <ul class="services__list">
      <li class="services__text">Serviços</li>
      <li class="services__text"><a class="services__link" href="">Adestramento</a></li>
      <li class="services__text"><a class="services__link" href="">Banho</a></li>
      <li class="services__text"><a class="services__link" href="">Dog Sitting</a></li>
    </ul>
  </section>
  <section class="services">
    <ul class="services__list">
      <li class="services__text"><a class="services__link" href="">Dog Walking</a></li>
      <li class="services__text"><a class="services__link" href="">Tosa</a></li>
    </ul>
  </section>
  <section class="institutional">
    <ul class="institutional__list">
      <li class="institutional__text">Institucional</li>
      <li class="institutional__text"><a href="" class="institutional__link">Quem somos</a></li>
      <li class="institutional__text"><a href="" class="institutional__link">Ajuda</a></li>
      <li class="institutional__text"><a href="" class="institutional__link">Termos de uso</a></li>
    </ul>
  </section>
  <section class="newsletter">
    <input type="text" class="newsletter__email" placeholder="name@superpets.com">
    <p class="newsletter__text">Assine nossa newsletter e receba sempre as nossas campanhas e promoções.</p>
  </section>
  <section class="social-media">
    <ul class="social-media__icons">
      <li class="social-media__instagram">
        <i class="fa fa-instagram"><a href=""></a></i>
      </li>
      <li class="social-media__twitter">
        <i class="fa fa-twitter"><a href=""></a></i>
      </li>
      <li class="social-media__facebook">
        <i class="fa fa-facebook-f"><a href=""></a></i>
      </li>
      <li class="social-media__snapchat">
        <i class="fa fa-snapchat"><a href=""></a></i>
      </li>
    </ul>
  </section>
</footer>