<div class="header-grid-container">
  <div class="header-logo">
    <section class="superpets-logo"></section>
    <h1 class="text-logo"><a class="header__link" href="/">Superpets</a></h1>
</div>
  <div class="header-nav">
    <section class="hamburger-menu"></section>
  </div>
</div>