<div class="header-grid-container">
  <div class="header-logo">
      <section class="superpets-logo"></section>
      <h1 class="text-logo"><a class="header__link" href="/">SuperPets</a></h1>
  </div>
  <div class="header-nav">
    <p class="user-name">Olá, <%-username%>! (<a class="user-name__logout" href="/logout">sair</a>)</p>
    <section class="user-img" style="background-image: url('/img/clients/<%-img%>');"></section>
    <section class="hamburger-menu"></section>
  </div>
</div>