<div class="header-grid-container">
  <div class="header-logo">
    <section class="superpets-logo"></section>
    <h1 class="text-logo">Superpets</h1>
  </div>
  <div class="header-nav">
    <p class="user-name">Olá, Isabella A. Nunes (<a class="user-name__logout" href="">sair</a>)</p>
    <section class="user-img"></section>
    <section class="hamburger-menu"></section>
  </div>
</div>