<%-include('includes/head',{title:"Superpets"})%>
<body>
    <div class="grid-container">
      <div class="header">
        <div class="logo">LOGO</div>
        <div class="nav">NAV</div>
      </div>
      <div class="banner">BANNER</div>
    </div>
  <div class="search">
    <div class="icons-grid-container">
      <div>ICON1</div>
      <div>ICON2</div>
      <div>ICON3</div>
      <div>ICON4</div>
      <div>ICON5</div>
   </div>
   <div class="inputs-grid-container">
    <div class="input-1">INPUT1</div>
    <div class="input-2">INPUT2</div>
    <div class="input-3">INPUT3</div>
    <div class="input-4">BUTTON</div>
  </div>
  </div>
  <div class="featured-grid-container">
    <div class="content">CONTENT</div>
    <div class="profile1">PROFILE1</div>
    <div class="profile2">PROFILE2</div>
    <div class="profile3">PROFILE3</div>
    <div class="profile4">PROFILE4</div>
  </div>
  <div class="testimonial-grid-container">
    <div class="testimonial">TESTIMONIAL</div>
    <div class="user-picture">IMAGE</div>
  </div>
  <div class="faq-grid-container">
    <div class="section1">FAQ-SECTION1</div>
    <div class="section2">FAQ-SECTION2</div>
    <div class="section3">FAQ-SECTION3</div>
    <div class="section4">FAQ-SECTION4</div>
  </div>
  <%- include('./includes/footer') -%>
 </body>
 </html>