<%-include('includes/head',{title:"SuperPets-ProfessionalAdmProfile"})%>
<body>
  <div class="proadmprofile-grid-container">
    <%-include('includes/header')%>
    <div class="pap-main-grid-container">
      <div class="pap-title">TITLE</div>
      <div class="pap-input1">INPUT1</div>
      <div class="pap-input2">INPUT2</div>
      <div class="pap-input3">INPUT3</div>
      <div class="pap-input4">INPUT4</div>
      <div class="pap-input5">INPUT5</div>
      <div class="pap-input6">INPUT6</div>
      <div class="pap-input7">INPUT7</div>
      <div class="pap-input8">INPUT8</div>
      <div class="pap-adm-user">USER-PICTURE</div>
      <div class="pap-btn-profile-view">BTN-PROFILE-VIEW</div>
      <div class="pap-btn-update">BTN-UPDATE</div>
      <div class="pap-link1">LINK1</div>
      <div class="pap-link2">LINK2</div>
      <div class="pap-link3">LINK3</div>
      <div class="pap-link4">LINK4</div>
      <div class="pap-link5">LINK5</div>
    </div>
    </div>
    <%-include('includes/footer')%>
  </div>
</body>