<%-include('includes/head',{title:"SuperPets-ProfessionalPublicProfile"})%>
<body>
  <div class="propublicprofile-grid-container">
    <%-include('includes/header')%>
    <div class="ppp-main-grid-container">
      <div class="ppp-profile-img">IMG</div>
      <div class="ppp-regions">SECTION-REGIONS</div>
      <div class="ppp-services">SECTION-SERVICES</div>
      <div class="ppp-name">NAME</div>
      <div class="ppp-services2">SECTION-SERVICES2</div>
      <div class="ppp-rating">RATING</div>
      <div class="ppp-schedule-btn">BUTTON</div>
      <div class="ppp-img">IMG</div>
      <div class="ppp-thumbnail1">THUMBNAIL</div>
      <div class="ppp-thumbnail2">THUMBNAIL</div>
      <div class="ppp-thumbnail3">THUMBNAIL</div>
      <div class="ppp-thumbnail4">THUMBNAIL</div>
      <div class="ppp-box-info">BOX-INFO</div>
    </div>
    <%-include('includes/footer')%>
  </div>
</body>