<%-include('includes/head',{title:"Professional Register"})%>
<body>
  <div class="proregister-grid-container">
    <%-include('includes/header')%>
    <div class="pr-main-grid-container">
      <div class="pr-bcg-img">IMAGE</div>
      <div class="pr-content-info">TEXT</div>
      <div class="pr-input1">INPUT1</div>
      <div class="pr-input2">INPUT2</div>
      <div class="pr-input3">INPUT3</div>
      <div class="pr-input4">INPUT4</div>
      <div class="pr-input5">INPUT5</div>
      <div class="pr-input6">INPUT6</div>
      <div class="pr-input7">INPUT7</div>
      <div class="pr-input-check">CHECKBOX</div>
      <div class="pr-signup">TEXT-SIGNUP</div>
      <div class="pr-btn-register">BUTTON</div>
    </div>
    <%-include('includes/footer')%>
  </div>  
</body>

