<%-include('includes/head',{title:"SuperPets-UserAdmProfile"})%>
<body>
  <div class="useradmprofile-grid-container">
    <%-include('includes/header')%>
    <div class="uap-main-grid-container">
      <div class="uap-title">TITLE</div>
      <div class="uap-input1">INPUT1</div>
      <div class="uap-input2">INPUT2</div>
      <div class="uap-input3">INPUT3</div>
      <div class="uap-input4">INPUT4</div>
      <div class="uap-input5">INPUT5</div>
      <div class="uap-input6">INPUT6</div>
      <div class="uap-input7">INPUT7</div>
      <div class="uap-input8">INPUT8</div>
      <div class="uap-adm-user">USER-PICTURE</div>
      <div class="uap-btn-profile-view">BTN-PROFILE-VIEW</div>
      <div class="uap-btn-update">BTN-UPDATE</div>
      <div class="uap-link1">LINK1</div>
      <div class="uap-link2">LINK2</div>
      <div class="uap-link3">LINK3</div>
    </div>
    <%-include('includes/footer')%>
  </div>
</body>