<%-include('includes/head',{title:"User Register"})%>
<body>
<div class="userregister-grid-container">
  <%-include('includes/header')%>
  <div class="ur-main-grid-container">
    <div class="ur-bcg-img">IMAGE</div>
    <div class="ur-content-info">TEXT</div>
    <div class="ur-input1">INPUT1</div>
    <div class="ur-input2">INPUT2</div>
    <div class="ur-input3">INPUT3</div>
    <div class="ur-input4">INPUT4</div>
    <div class="ur-input5">INPUT5</div>
    <div class="ur-input6">INPUT6</div>
    <div class="ur-input7">INPUT7</div>
    <div class="ur-input8">INPUT8</div>
    <div class="ur-input9">INPUT9</div>
    <div class="ur-input10">INPUT10</div>
    <div class="ur-input-check">CHECKBOX</div>
    <div class="ur-signup">TEXT-SIGNUP</div>
    <div class="ur-btn-register">BUTTON</div>
  </div>
  <%-include('includes/footer')%>
</div>
</body>