<%-include('includes/head',{title:"SuperPets-UserPublicProfile"})%>
<body>
  <div class="upp-grid-container">
    <%-include('includes/header')%>
    <div class="upp-main-grid-container">
      <div class="public-profile-user">PROFILE</div>
      <div class="name">NAME</div>
      <div class="rating">STARS RATING</div>
      <div class="img-pet">IMG</div>
      <div class="thumbnail1">THUMBNAIL</div>
      <div class="thumbnail2">THUMBNAIL</div>
      <div class="thumbnail3">THUMBNAIL</div>
      <div class="thumbnail4">THUMBNAIL</div>
      <div class="my-pets">MY PETS</div>
      <div class="thumbnail5">THUMBNAIL</div>
      <div class="pet-info1">PET INFO</div>
      <div class="pet-info2">PET INFO 2</div>
    </div>
    <%-include('includes/footer')%>
  </div>
</body>