/* html and body styles */
html {
  overflow-x: hidden;
  width:100vw;
  height:100vh;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* header style */
.header-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: 110px;
  gap: 0px 0px;
  grid-template-areas: "header-logo header-nav .";
  background-color: #ecf1f1;
  align-items: center;
  width:100%;
}
.header-logo {
  grid-area: header-logo;
  display:grid;
  grid-template-columns: 40px 37px 20px 160px 0.1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: ". superpets-logo . text-logo . ";
  align-items: center;
}
.superpets-logo{
  grid-area:superpets-logo;
  background-image: url(../img/pawprint.svg);
  background-repeat:no-repeat;
  background-size: 100%;
  width:37px;
  height:37px;
  transform:rotate(50deg);
}

.text-logo{
  grid-area:text-logo;
  color:#676767;
  font-weight: normal;
}

.header-nav { 
  grid-area: header-nav;
  display:grid;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.25fr;
  grid-template-rows: auto;
  gap:0px 15px;
  grid-template-areas: " . user-name user-name user-name user-name user-name user-img .";
  align-items: center;
  justify-items: right;
 }

 .user-name{
  grid-area:user-name;
  color:#343638; 
 }

 .user-name__logout{
   color:#3accaa;
 }

 .user-name__logout:hover{
  color:#343638;
 }

.user-img{
  grid-area:user-img;
  background-image: url(../img/user-adm-photo.jpg);
  background-repeat:no-repeat;
  background-size: 100%;
  border-radius: 50%;
  width:67px;
  height:67px;
}

.hamburger-menu{
  grid-area:hamburger-menu;
  display:none;
}

@media only screen and (max-width: 560px){
  .text-logo{
    display:none;
  }
}


@media only screen and (max-width: 768px){
  .header-grid-container{
    grid-template-areas: "header-logo header-logo header-logo header-logo header-logo header-logo header-logo header-logo header-logo header-nav header-nav header-nav";  
  } 

  .header-logo{
    grid-area: header-logo;
    display:grid;
    grid-template-columns: 20px 40px 35%;
    grid-template-rows: auto;
    gap: 0px 15px;
    grid-template-areas: ". superpets-logo text-logo";
    align-items: center;
    justify-items:left;
  }

  .user-name{
    font-size: 1em;
  }

  .header-nav { 
    grid-area: header-nav;
    display:grid;
    grid-template-columns:  auto auto auto auto auto auto 50px 30px;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas: " . . . . .  user-img hamburger-menu .";
    align-items: center;
    justify-items: right;
   }

   .hamburger-menu{
     background-image: url(../img/hamburger-icon.svg);
     background-repeat: no-repeat;
     background-size: cover;
     width: 40px;
     height:40px;
     display:inline-block;
     cursor:pointer;
   }
}

@media only screen and (max-width: 574px){
  .header-grid-container{
    grid-template-rows: 80px;  
  }
  .user-img{
    transform: scale(0.8);
  }
  .hamburger-menu{
    transform: scale(1.1);
  }
}

/* home style */
.home-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 1fr 1fr 1fr 1fr 200px;
  gap: 1px 1px;
  grid-template-areas: "home-header header home-header home-header home-header home-header home-header home-header home-header home-header home-header home-header" "home-banner home-banner home-banner home-banner home-banner home-banner home-banner home-banner home-banner home-banner home-banner home-banner" "home-search home-search home-search home-search home-search home-search home-search home-search home-search home-search home-search home-search" "home-professionals home-professionals home-professionals home-professionals home-professionals home-professionals home-professionals home-professionals home-professionals home-professionals home-professionals home-professionals" "home-testimonial home-testimonial home-testimonial home-testimonial home-testimonial home-testimonial home-testimonial home-testimonial home-testimonial home-testimonial home-testimonial home-testimonial" "home-faq home-faq home-faq home-faq home-faq home-faq home-faq home-faq home-faq home-faq home-faq home-faq" "home-footer home-footer home-footer home-footer home-footer home-footer home-footer home-footer home-footer home-footer home-footer home-footer";
}
.home-header { grid-area: home-header; }
.home-banner { grid-area: home-banner; }
.home-search { grid-area: home-search; }
.home-professionals { grid-area: home-professionals; }
.home-testimonial { grid-area: home-testimonial; }
.home-faq { grid-area: home-faq; }
.home-footer { grid-area: home-footer; }

/* user register style*/
.ur-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 0px 0px;
  grid-template-areas: "ur-header ur-header ur-header ur-header ur-header ur-header ur-header ur-header ur-header ur-header ur-header ur-header" "ur-main ur-main ur-main ur-main ur-main ur-main ur-main ur-main ur-main ur-main ur-main ur-main" "ur-footer ur-footer ur-footer ur-footer ur-footer ur-footer ur-footer ur-footer ur-footer ur-footer ur-footer ur-footer";
  height:100%;
}
.ur-header { grid-area: ur-header;}
.ur-main { grid-area: ur-main;}
.ur-footer { grid-area: ur-footer;}

/* professional register style*/
.pr-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 0px 0px;
  grid-template-areas: "pr-header pr-header pr-header pr-header pr-header pr-header pr-header pr-header pr-header pr-header pr-header pr-header" "pr-main pr-main pr-main pr-main pr-main pr-main pr-main pr-main pr-main pr-main pr-main pr-main" "pr-footer pr-footer pr-footer pr-footer pr-footer pr-footer pr-footer pr-footer pr-footer pr-footer pr-footer pr-footer";
  height:100%;
}
.pr-header { grid-area: pr-header;}
.pr-main { grid-area: pr-main;}
.pr-footer { grid-area: pr-footer;}

/* search results style */
.sr-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 0px 0px;
  grid-template-areas: "sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header" "sr-search sr-search sr-search sr-search sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results" "sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer";
  height:100%;
}
.sr-header { grid-area: sr-header; }
.sr-footer { grid-area: sr-footer; }
.sr-search { grid-area: sr-search; }
.sr-search-results { grid-area: sr-search-results; }

@media only screen and (max-width: 768px){
  .sr-grid-container{
    grid-template-areas: "sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header" "sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results" "sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer";
  }    
}

/* user adm profile style */
.uap-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 0px 0px;
  grid-template-areas: "uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header" ". uap-main-content uap-main-content uap-main-content uap-main-content uap-main-content uap-main-content uap-main-content uap-main-content uap-main-content uap-main-content ." "uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer";
  background-color: #f6f8f9;
  height:auto;
}
.uap-header { grid-area: uap-header; }
.uap-footer { grid-area: uap-footer; }

.uap-main-content{
  grid-area:uap-main-content;
  display: grid;
  grid-template-columns: auto 1.7fr;
  grid-template-rows: auto auto 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "uap-profile uap-form";
  background-color:#f6f8f9;
  padding-top: 25px;
}

@media only screen and (max-width: 960px){
  .uap-main-content{
    grid-area:uap-main-content;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas: "uap-profile" "uap-form";
    background-color:#f6f8f9;
    padding-top: 25px;
  } 
}

.uap-profile {
  grid-area: uap-profile;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 100px 40px 40px 40px;
  gap: 0px 0px;
  grid-template-areas: "uap-profile__img uap-profile__img uap-profile__img uap-profile__img uap-profile__img uap-profile__img uap-profile__img uap-profile__img uap-profile__img uap-profile__img uap-profile__img uap-profile__img" "uap-profile__quote uap-profile__quote uap-profile__quote uap-profile__quote uap-profile__quote uap-profile__quote uap-profile__quote uap-profile__quote uap-profile__quote uap-profile__quote uap-profile__quote uap-profile__quote" "uap-profile__public uap-profile__public uap-profile__public uap-profile__public uap-profile__public uap-profile__public uap-profile__public uap-profile__public uap-profile__public uap-profile__public uap-profile__public uap-profile__public" "uap-profile__pets uap-profile__pets uap-profile__pets uap-profile__pets uap-profile__pets uap-profile__pets uap-profile__pets uap-profile__pets uap-profile__pets uap-profile__pets uap-profile__pets uap-profile__pets" "uap-profile__details uap-profile__details uap-profile__details uap-profile__details uap-profile__details uap-profile__details uap-profile__details uap-profile__details uap-profile__details uap-profile__details uap-profile__details uap-profile__details";
  background-color:#fff;
  justify-items: center;
  padding:45px 60px 0 60px;
}
.uap-profile__img { grid-area: uap-profile__img;}
.uap-profile__quote { 
  grid-area: uap-profile__quote;
  color:#888;
  font-size: 0.8em;
  letter-spacing: 0.018em;
  padding-top:20px;
}
.uap-profile__public { grid-area: uap-profile__public; }
.uap-profile__pets{ grid-area: uap-profile__pets;}
.uap-profile__details{ grid-area: uap-profile__details;}

.uap-profile__img{
  background-image: url('../img/user-adm-photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:240px;
  height:250px;
}

.uap-profile__quote,.uap-profile__public,.uap-profile__pets,.uap-profile__details{
  width:240px; 
  text-decoration:none;
  color:#888;
}

.uap-profile__public:hover,.uap-profile__pets:hover,.uap-profile__details:hover{
  font-weight:600;
  cursor: pointer;
}

.uap-form {
  grid-area: uap-form;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: auto auto auto auto auto auto auto;
  gap: 15px 30px;
  grid-template-areas: "uap-form__title uap-form__title uap-form__title uap-form__title uap-form__title uap-form__title uap-form__title uap-form__title uap-form__title uap-form__title uap-form__title uap-form__title" "uap-form__name uap-form__name uap-form__name uap-form__name uap-form__name uap-form__name uap-form__name uap-form__name uap-form__name uap-form__name uap-form__name uap-form__name" "uap-form__email uap-form__email uap-form__email uap-form__email uap-form__email uap-form__email uap-form__email uap-form__email uap-form__email uap-form__email uap-form__email uap-form__email" "uap-form__phone uap-form__phone uap-form__phone uap-form__phone uap-form__phone uap-form__phone uap-form__phone uap-form__phone uap-form__phone uap-form__phone uap-form__phone uap-form__phone" "uap-form__zip-code uap-form__zip-code uap-form__zip-code uap-form__zip-code uap-form__address uap-form__address uap-form__address uap-form__address uap-form__address uap-form__address uap-form__address uap-form__address" "uap-form__district uap-form__district uap-form__district uap-form__district uap-form__city uap-form__city uap-form__city uap-form__city uap-form__state uap-form__state uap-form__state uap-form__state" ". . uap-btn-profile uap-btn-profile uap-btn-profile uap-btn-profile uap-btn-profile uap-btn-update uap-btn-update uap-btn-update uap-btn-update uap-btn-update";
  background-color:#fff;
  padding:35px 100px 45px 40px;
}
.uap-form__title { grid-area: uap-form__title;}
.uap-form__name { grid-area: uap-form__name;}
.uap-form__email { grid-area: uap-form__email;}
.uap-form__phone{ grid-area: uap-form__phone;}
.uap-form__zip-code{ grid-area: uap-form__zip-code;}
.uap-form__address{ grid-area: uap-form__address;}
.uap-form__district{ grid-area: uap-form__district;}
.uap-form__city{ grid-area: uap-form__city;}
.uap-form__state{ grid-area: uap-form__state;}
.uap-btn-profile{ grid-area: uap-btn-profile;padding-top: 40px;}
.uap-btn-update{ grid-area: uap-btn-update;padding-top: 40px;}

.uap-form__title-profile{
  color:#888;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}

.uap-form__title-input,.uap-form__name-input,.uap-form__email-input,.uap-form__phone-input,.uap-form__zip-code-input,.uap-form__address-input,.uap-form__district-select,.uap-form__city-select,.uap-form__state-select{
  width:100%;
  margin-top:10px;
  border:2px solid #cbd0d3;
  border-radius:5px;
  padding:10px;
  color:#010101;
}

.uap-form__title-input:focus,.uap-form__name-input:focus,.uap-form__email-input:focus,.uap-form__phone-input:focus,.uap-form__zip-code-input:focus,.uap-form__address-input:focus,.uap-form__district-select:focus,.uap-form__city-select:focus,.uap-form__state-select:focus{
  border-color:#44e2be;
  color:#010101;
}

.uap-btn-profile__input,.uap-btn-update__input{
  width:100%;
  border:none;
  border-radius:20px;
  padding:15px;
  color:#fff;
  cursor:pointer;
}

.uap-btn-profile__input--p{
  background-color: #b7bfc7 ;
}

.uap-btn-update__input--u{
  background-color: #45e6c1;
}

.uap-btn-profile__input--p:hover{
  background-color:#a4aab1;
}

.uap-btn-update__input--u:hover{
  background-color:#3accaa;
}

@media only screen and (max-width: 768px){
 .uap-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 110px 1fr 200px;
    gap: 0px 0px;
    grid-template-areas: "uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header" "uap-main-content uap-main-content uap-main-content uap-main-content uap-main-content uap-main-content uap-main-content uap-main-content uap-main-content uap-main-content uap-main-content uap-main-content" "uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer";
    background-color: #f6f8f9;
    height:100%;
  }

  .user-name{
    display:none;
  }

  .uap-main-content{
    grid-area:uap-main-content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas: "uap-profile" "uap-form";
    background-color:#f6f8f9;
    width:100vw;
    padding:0 5% 0 5%;
  }

  .uap-profile {
    grid-area: uap-profile;
    display: grid;
    grid-template-columns: 30% 20% 35%;
    grid-template-rows: 160px 30px;
    gap:0px 25px;
    grid-template-areas: "uap-profile__img  uap-profile__quote uap-profile__quote" "uap-profile__public uap-profile__pets uap-profile__details";
    justify-items: left;
    padding:0;
    background-color: #f6f8f9;
  }

  .uap-profile__img{
    transform:scale(0.4);
    justify-self:left;
    align-self: center;
    position:relative;
    right:70px;
  }

  .uap-profile__quote{
    justify-self:left; 
    align-self: center;
    font-size:1rem;
  }

  .uap-profile__public,.uap-profile__pets,.uap-profile__details{
    padding-bottom:10px;
    font-size:0.8em;
    width:100%;
  }

  .uap-profile__public:hover,.uap-profile__pets:hover,.uap-profile__details:hover{
    border-bottom:4px solid #45e6c1;
  }

  .uap-form{
    grid-area: uap-form;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    gap: 15px 0px;
    grid-template-areas: "uap-form__title uap-form__title uap-form__title uap-form__title uap-form__title uap-form__title uap-form__title uap-form__title uap-form__title uap-form__title uap-form__title uap-form__title" "uap-form__name uap-form__name uap-form__name uap-form__name uap-form__name uap-form__name uap-form__name uap-form__name uap-form__name uap-form__name uap-form__name uap-form__name" "uap-form__email uap-form__email uap-form__email uap-form__email uap-form__email uap-form__email uap-form__email uap-form__email uap-form__email uap-form__email uap-form__email uap-form__email" "uap-form__phone uap-form__phone uap-form__phone uap-form__phone uap-form__phone uap-form__phone uap-form__phone uap-form__phone uap-form__phone uap-form__phone uap-form__phone uap-form__phone" "uap-form__zip-code uap-form__zip-code uap-form__zip-code uap-form__zip-code uap-form__zip-code uap-form__zip-code uap-form__zip-code uap-form__zip-code uap-form__zip-code uap-form__zip-code  uap-form__zip-code uap-form__zip-code" "uap-form__address uap-form__address uap-form__address uap-form__address uap-form__address uap-form__address uap-form__address uap-form__address uap-form__address uap-form__address uap-form__address uap-form__address" "uap-form__district uap-form__district uap-form__district uap-form__district uap-form__district uap-form__district uap-form__district uap-form__district uap-form__district uap-form__district uap-form__district uap-form__district" "uap-form__city uap-form__city uap-form__city uap-form__city uap-form__city uap-form__city uap-form__city uap-form__city uap-form__city uap-form__city uap-form__city uap-form__city" "uap-form__state uap-form__state uap-form__state uap-form__state uap-form__state uap-form__state uap-form__state uap-form__state uap-form__state uap-form__state uap-form__state uap-form__state" "uap-btn-update uap-btn-update uap-btn-update uap-btn-update uap-btn-update uap-btn-update uap-btn-update uap-btn-update uap-btn-update uap-btn-update uap-btn-update uap-btn-update" "uap-btn-profile uap-btn-profile uap-btn-profile uap-btn-profile uap-btn-profile uap-btn-profile uap-btn-profile uap-btn-profile uap-btn-profile uap-btn-profile uap-btn-profile uap-btn-profile";
    padding:10px 3% 20px 3%;
    margin-bottom:20px;
  }
  .uap-btn-profile{
    padding-top:10px;
  }
  .uap-btn-update{
    padding-top:15px;
  }
  .uap-btn-profile__input,.uap-btn-update__input{
    border-radius: 10px;
  }
}



/* professional adm profile style */
.pap-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 0px 0px;
  grid-template-areas: "pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header" "pap-profile pap-profile pap-profile pap-profile pap-form pap-form pap-form pap-form pap-form pap-form pap-form pap-form" "pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer";
  height:100%;
}
.pap-header { grid-area: pap-header; }
.pap-footer { grid-area: pap-footer; }
.pap-profile { grid-area: pap-profile; }
.pap-form { grid-area: pap-form; }

@media only screen and (max-width: 768px){
  .pap-grid-container{
    grid-template-rows: 110px auto 1fr 200px;
    grid-template-areas: "pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header" "pap-profile pap-profile pap-profile pap-profile pap-profile pap-profile pap-profile pap-profile pap-profile pap-profile pap-profile pap-profile" "pap-form pap-form pap-form pap-form pap-form pap-form pap-form pap-form pap-form pap-form pap-form pap-form" "pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer";
  } 
}

/* user public profile style */
.upp-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 0px 0px;
  grid-template-areas: "upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header" "upp-profile upp-profile upp-profile upp-profile upp-info upp-info upp-info upp-info upp-info upp-info upp-info upp-info" "upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer";
  height:100%;
}
.upp-header { grid-area: upp-header; }
.upp-footer { grid-area: upp-footer; }
.upp-profile { grid-area: upp-profile; }
.upp-form { grid-area: upp-info; }

@media only screen and (max-width: 768px){
  .upp-grid-container {
    grid-template-rows: 110px auto 1fr 200px;
    grid-template-areas: "upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header" "upp-profile upp-profile upp-profile upp-profile upp-profile upp-profile upp-profile upp-profile upp-profile upp-profile upp-profile upp-profile" "upp-info upp-info upp-info upp-info upp-info upp-info upp-info upp-info upp-info upp-info upp-info upp-info" "upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer"; 
  } 
}

/*professional public profile style */
.ppp-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 0px 0px;
  grid-template-areas: "ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header" "ppp-profile ppp-profile ppp-profile ppp-profile ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info" "ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer";
  height:100%;
}
.ppp-header { grid-area: ppp-header; }
.ppp-footer { grid-area: ppp-footer; }
.ppp-profile { grid-area: ppp-profile; }
.ppp-form { grid-area: ppp-info; }

@media only screen and (max-width: 768px){
  .ppp-grid-container {
    grid-template-rows: 110px auto 1fr 200px;
    grid-template-areas: "ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header" "ppp-profile ppp-profile ppp-profile ppp-profile ppp-profile ppp-profile ppp-profile ppp-profile ppp-profile ppp-profile ppp-profile ppp-profile" "ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info" "ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer"; 
  } 
}

/* terms of use style */
.tou-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 0px 1px;
  grid-template-areas: "tou-header tou-header tou-header tou-header tou-header tou-header tou-header tou-header tou-header tou-header tou-header tou-header" 
  ". tou-terms-of-use tou-terms-of-use tou-terms-of-use tou-terms-of-use tou-terms-of-use tou-terms-of-use tou-terms-of-use tou-terms-of-use tou-terms-of-use tou-terms-of-use ." 
  "tou-footer tou-footer tou-footer tou-footer tou-footer tou-footer tou-footer tou-footer tou-footer tou-footer tou-footer tou-footer";
  height:100%;
  background-color: #f6f8f9;
}
.tou-header { 
  grid-area: tou-header; 
  background-color: #ecf1f1;
}
.tou-footer { 
  grid-area: tou-footer; 
  background-color: #a6adb4;
}
.tou__terms-of-use { 
  font-family: Arial, Helvetica, sans-serif;
  grid-area: tou-terms-of-use; 
  padding: 5% 0;
}
#tou__title {
  text-align: center;
}

.tou__articles {
  text-align: justify;
}

/* faq style */
.f-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 1px 1px;
  grid-template-areas: "f-header f-header f-header f-header f-header f-header f-header f-header f-header f-header f-header f-header" "f-faq f-faq f-faq f-faq f-faq f-faq f-faq f-faq f-faq f-faq f-faq f-faq" "f-footer f-footer f-footer f-footer f-footer f-footer f-footer f-footer f-footer f-footer f-footer f-footer";
  height:100%;
}
.f-header { grid-area: f-header; }
.f-footer { grid-area: f-footer; }
.f-faq { grid-area: f-faq; }

/* about us style */
.au-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 1px 1px;
  grid-template-areas: "au-header au-header au-header au-header au-header au-header au-header au-header au-header au-header au-header au-header" "au-about au-about au-about au-about au-about au-about au-about au-about au-about au-about au-about au-about" "au-footer au-footer au-footer au-footer au-footer au-footer au-footer au-footer au-footer au-footer au-footer au-footer";
  height:100%;
}
.au-header { grid-area: au-header; }
.au-footer { grid-area: au-footer; }
.au-about { grid-area: au-about; }

/* footer style*/
.footer-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1px 1px;
  grid-template-areas: "footer-service-links  footer-institutional-links  footer-newsletter  footer-social-links";
  height:100%;
  background-color: #a6adb4;
  color:#fff;
  align-content: center;
  padding: 0 8.5%;
}
.footer-service-links { grid-area: footer-service-links;}
.footer-institutional-links{grid-area: footer-institutional-links;}
.footer-social-links { grid-area: footer-social-links;}
.footer-newsletter { grid-area: footer-newsletter;}

.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 1px 1px;
  grid-template-areas:  "services__item1 ." 
                        "services__item2 services__item5" 
                        "services__item3 services__item6" 
                        "services__item4 .";
}
.services__item1{grid-area:services__item1}
.services__item2{grid-area:services__item2}
.services__item3{grid-area:services__item3}
.services__item4{grid-area:services__item4}
.services__item5{grid-area:services__item5}
.services__item6{grid-area:services__item6}

.services__item--title,.institutional__item--title{font-weight: normal;}

.newsletter__input[value]{
  color:#cbd0d3;
  border:none;
  background-color: transparent;
  border:2px solid rgba(255,255,255,0.3);
  border-radius: 5px;
  width:298px;
  height:40px;
  padding:15px;
}

.newsletter__text{
  color:#cbd0d3;
  margin-top:15px;
  width:300px;
}

.newsletter__register{position:relative;}

.fa-location-arrow{
  position: absolute;
  top:-9px;
  right:5px;
  cursor: pointer;
  padding:10px;
}

.services__list,.institutional__list{list-style: none;}

.services__link,.institutional__link{
  text-decoration: none;
  color:#cbd0d3;
}

.services__link:hover,.institutional__link:hover{color:#fff;}

.social__list{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.social__item{
  display: inline-block; 
  margin-left:30px;
}

.fa{color:#fff;}
.fa-instagram:hover{color:#e4405f;}
.fa-twitter:hover{color:#55acee;}
.fa-facebook-f:hover{color:#3b5999;}
.fa-snapchat:hover{color:#FFFC00;}

@media only screen and (max-width: 1030px){
  .footer-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .services__list {
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 1px 1px;
    grid-template-areas: "services__item1" "services__item2" "services__item3" "services__item4" "services__item5" "services__item6";
  } 
  
}

@media only screen and (max-width: 900px){
  .footer-grid-container{
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
    grid-template-areas: "footer-service-links  footer-institutional-links" " footer-service-links footer-social-links" "footer-newsletter footer-newsletter";
    height:auto;
    justify-content: center;
    padding:5%;
  } 

  .institutional{
    display:flex;
    justify-content: flex-end;
    }

  .social__item{
    display: inline-block; 
    margin:0 0 0 20px;
  }

  .newsletter__input[value],.newsletter__text{width:100%;}
  .newsletter__email{margin-top:20px;}
}


/* media queries to header and footer heights */
@media only screen and (max-width: 768px){
  .ur-grid-container,.pr-grid-container,.sr-grid-container,.uap-grid-container,.pap-grid-container,.upp-grid-container,.ppp-grid-container{
    grid-template-rows: 110px 1fr auto;
  }
}

@media only screen and (max-width: 574px){
  .ur-grid-container,.pr-grid-container,.sr-grid-container,.uap-grid-container,.pap-grid-container,.upp-grid-container,.ppp-grid-container{
    grid-template-rows: 80px 1fr auto;  
  }
}


