/* header style */
.header-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px;
  gap: 0px 0px;
  grid-template-areas: "header-logo header-logo header-logo header-logo header-logo header-nav header-nav header-nav header-nav header-nav header-nav header-nav";
}
.header-logo { grid-area: header-logo; }
.header-nav { grid-area: header-nav; }

@media only screen and (max-width: 768px){
  .header-grid-container{
    grid-template-areas: "header-logo header-logo header-logo header-logo header-logo header-logo header-logo header-logo header-logo header-nav header-nav header-nav";  
  } 
}

@media only screen and (max-width: 574px){
  .header-grid-container{
    grid-template-rows: 80px;  
  }
}

/* home style */
.home-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 1fr 1fr 1fr 1fr 200px;
  gap: 1px 1px;
  grid-template-areas: "home-header header home-header home-header home-header home-header home-header home-header home-header home-header home-header home-header" "home-banner home-banner home-banner home-banner home-banner home-banner home-banner home-banner home-banner home-banner home-banner home-banner" "home-search home-search home-search home-search home-search home-search home-search home-search home-search home-search home-search home-search" "home-professionals home-professionals home-professionals home-professionals home-professionals home-professionals home-professionals home-professionals home-professionals home-professionals home-professionals home-professionals" "home-testimonial home-testimonial home-testimonial home-testimonial home-testimonial home-testimonial home-testimonial home-testimonial home-testimonial home-testimonial home-testimonial home-testimonial" "home-faq home-faq home-faq home-faq home-faq home-faq home-faq home-faq home-faq home-faq home-faq home-faq" "home-footer home-footer home-footer home-footer home-footer home-footer home-footer home-footer home-footer home-footer home-footer home-footer";
}
.home-header { grid-area: home-header; }
.home-banner { grid-area: home-banner; }
.home-search { grid-area: home-search; }
.home-professionals { grid-area: home-professionals; }
.home-testimonial { grid-area: home-testimonial; }
.home-faq { grid-area: home-faq; }
.home-footer { grid-area: home-footer; }

/* user register style */
/* mobile-first (mobile/tablets, max. 992px) */
.ur-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 0px 0px;
  grid-template-areas: "ur-header ur-header ur-header ur-header ur-header ur-header ur-header ur-header ur-header ur-header ur-header ur-header" 
  "ur-main ur-main ur-main ur-main ur-main ur-main ur-main ur-main ur-main ur-main ur-main ." 
  "ur-footer ur-footer ur-footer ur-footer ur-footer ur-footer ur-footer ur-footer ur-footer ur-footer ur-footer ur-footer";
  height:100%;
  background-color: #f6f8f9;
}
.ur-header { 
  grid-area: ur-header;
  background-color: #f6f8f9;
}

.ur-footer { 
  grid-area: ur-footer;
  background-color: #a6adb4;
}

.ur-grid-container ::placeholder {
  color: #d9dee0;
}

.ur-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas: ". ur-main__title ur-main__title ur-main__title ur-main__title ur-main__title ur-main__title ur-main__title ur-main__title ur-main__title ur-main__title ur-main__title"
  ". ur-main__name ur-main__name ur-main__name ur-main__name ur-main__name  ur-main__name ur-main__name ur-main__name ur-main__name ur-main__name ur-main__name"
  ". ur-main__email ur-main__email ur-main__email ur-main__email ur-main__email ur-main__email ur-main__email ur-main__email ur-main__email ur-main__email ur-main__email "
  ". ur-main__mobile ur-main__mobile ur-main__mobile ur-main__mobile ur-main__mobile ur-main__mobile ur-main__mobile ur-main__mobile ur-main__mobile ur-main__mobile ur-main__mobile"
  ". ur-main__zipcode ur-main__zipcode ur-main__zipcode ur-main__zipcode ur-main__zipcode ur-main__zipcode ur-main__zipcode ur-main__zipcode ur-main__zipcode ur-main__zipcode ur-main__zipcode"
  ". ur-main__address ur-main__address ur-main__address ur-main__address ur-main__address ur-main__address ur-main__address ur-main__address ur-main__address ur-main__address ur-main__address"
  ". ur-main__neighborhood ur-main__neighborhood ur-main__neighborhood ur-main__neighborhood ur-main__neighborhood ur-main__neighborhood ur-main__neighborhood ur-main__neighborhood ur-main__neighborhood ur-main__neighborhood ur-main__neighborhood"
  ". ur-main__city ur-main__city ur-main__city ur-main__city ur-main__city ur-main__city ur-main__city ur-main__city ur-main__city ur-main__city ur-main__city"
  ". ur-main__password ur-main__password ur-main__password ur-main__password ur-main__password ur-main__password ur-main__password ur-main__password ur-main__password ur-main__password ur-main__password"
  ". ur-main__confirm-password ur-main__confirm-password ur-main__confirm-password ur-main__confirm-password ur-main__confirm-password ur-main__confirm-password ur-main__confirm-password ur-main__confirm-password ur-main__confirm-password ur-main__confirm-password ur-main__confirm-password"
  ". ur-main__terms-of-service ur-main__terms-of-service ur-main__terms-of-service ur-main__terms-of-service ur-main__terms-of-service ur-main__terms-of-service ur-main__terms-of-service ur-main__terms-of-service ur-main__terms-of-service ur-main__terms-of-service ur-main__terms-of-service"
  ". ur-main__already-an-user ur-main__already-an-user ur-main__already-an-user ur-main__already-an-user ur-main__already-an-user ur-main__already-an-user ur-main__already-an-user ur-main__already-an-user ur-main__already-an-user ur-main__already-an-user ur-main__already-an-user"
  ". ur-main__submit ur-main__submit ur-main__submit ur-main__submit ur-main__submit ur-main__submit ur-main__submit ur-main__submit ur-main__submit ur-main__submit ur-main__submit";
  grid-area: ur-main;
  font-family: Arial, Helvetica, sans-serif;
}

.ur-main__dog { 
  grid-area: ur-main__dog; 
  background-image: url('/img/user-signup.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  font-size: 14px;
}

.ur-main__title { 
  grid-area: ur-main__title; 
  padding: 5% 0 2% 0;
  font-size: 30px;
}

.ur-main__title--highlight {
  color: #39b99b;
}

.ur-main__name { 
  grid-area: ur-main__name; 
}

.ur-main__name-input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  color: #a3a3a3;
}

.ur-main__email { 
  grid-area: ur-main__email; 
}

.ur-main__email-input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  color: #a3a3a3;
}

.ur-main__mobile { grid-area: ur-main__mobile; }
.ur-main__mobile-input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  color: #a3a3a3;
}

.ur-main__zipcode { grid-area: ur-main__zipcode; }
.ur-main__zipcode-input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  color: #a3a3a3;
}

.ur-main__address { grid-area: ur-main__address; }
.ur-main__address-input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  color: #a3a3a3;
}

.ur-main__neighborhood { grid-area: ur-main__neighborhood; }
.ur-main__neighborhood-select {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #a3a3a3;
  height: 35px;
}

.ur-main__city { grid-area: ur-main__city; }
.ur-main__city-select {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: white;
  -webkit-tap-highlight-color: transparent;
  color: #a3a3a3;
  height: 35px;
}

.ur-main__state { grid-area: ur-main__state; }
.ur-main__state-select {
  width: 100%;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  color: #a3a3a3;
}

.ur-main__password { grid-area: ur-main__password; }
.ur-main__password-input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  color: #a3a3a3;
}

.ur-main__confirm-password { grid-area: ur-main__confirm-password; }
.ur-main__confirm-password-input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  color: #a3a3a3;
}

.ur-main__terms-of-service { 
  grid-area: ur-main__terms-of-service; 
  align-self: center;
  justify-self: left;
}

.ur-main__terms-of-service-input {
  color: #a3a3a3;
  border: none;
  transform: scale(1.3);
}

.ur-main__terms-of-service-label {
  font-size: 0.9em;
}

.ur-main__already-an-user { 
  grid-area: ur-main__already-an-user; 
  align-self: center;
  justify-self: left;
  padding-bottom: 20px;
}
.ur-main__already-an-user-content {
  width: 100%;
  /* color: #676767; */
  font-size: 0.9em;
}

.ur-main__already-an-user-content--link {
  color: #44e2be;
}

.ur-main__submit { 
  grid-area: ur-main__submit; 
  align-self: center;
  padding-bottom: 20px;
}
.ur-main__submit-button {
  display: block;
  padding: 10px 20px;
  width: 100%;
  color: white;
  background-color: #39b99b;
  border-color: none;
  text-transform: uppercase;
  border-radius: 10px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .ur-header { 
    grid-area: ur-header;
    background-color: #f0eac2;
  }

  .ur-footer { 
    grid-area: ur-footer;
    background-color: #a6adb4;
  }

  .ur-grid-container {
    background-color: #f0eac2;
  }

  .ur-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: "ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__title ur-main__title ur-main__title ur-main__title ur-main__title ur-main__title"
    "ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__name ur-main__name ur-main__name ur-main__name ur-main__name ur-main__name"
    "ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__email ur-main__email ur-main__email ur-main__email ur-main__mobile ur-main__mobile"
    "ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__zipcode ur-main__zipcode ur-main__address ur-main__address ur-main__address ur-main__address"
    "ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__neighborhood ur-main__neighborhood ur-main__neighborhood ur-main__city ur-main__city ur-main__city"
    "ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__dog  ur-main__password ur-main__password ur-main__password ur-main__confirm-password ur-main__confirm-password ur-main__confirm-password"
    "ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__terms-of-service ur-main__terms-of-service ur-main__terms-of-service ur-main__terms-of-service ur-main__terms-of-service ur-main__terms-of-service"
    "ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__dog ur-main__dog  ur-main__already-an-user ur-main__already-an-user ur-main__already-an-user ur-main__submit ur-main__submit ur-main__submit";
    grid-area: ur-main;
    font-family: Arial, Helvetica, sans-serif;
  }
}

/* professional register style*/
/* mobile-first (mobile/tablets, max. 992px) */
.pr-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 0px 0px;
  grid-template-areas: "pr-header pr-header pr-header pr-header pr-header pr-header pr-header pr-header pr-header pr-header pr-header pr-header"
  "pr-main pr-main pr-main pr-main pr-main pr-main pr-main pr-main pr-main pr-main pr-main pr-main"
  "pr-footer pr-footer pr-footer pr-footer pr-footer pr-footer pr-footer pr-footer pr-footer pr-footer pr-footer pr-footer";
  height:100%;
  background-color: #f6f8f9;
}
.pr-header {
  grid-area: pr-header;
  background-color: #f6f8f9;
}
.pr-footer {
  grid-area: pr-footer;
  background-color: #a6adb4;
}
.pr-grid-container ::placeholder {
  color: #d9dee0;
  font-size: 0.8em;
}

.pr-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas: ". pr-main__title pr-main__title pr-main__title pr-main__title pr-main__title pr-main__title pr-main__title pr-main__title pr-main__title pr-main__title pr-main__title"
  ". pr-main__subtitle pr-main__subtitle pr-main__subtitle pr-main__subtitle pr-main__subtitle pr-main__subtitle pr-main__subtitle pr-main__subtitle pr-main__subtitle pr-main__subtitle pr-main__subtitle"
  ". pr-main__name pr-main__name pr-main__name pr-main__name pr-main__name  pr-main__name pr-main__name pr-main__name pr-main__name pr-main__name pr-main__name"
  ". pr-main__email pr-main__email pr-main__email pr-main__email pr-main__email pr-main__email pr-main__email pr-main__email pr-main__email pr-main__email pr-main__email "
  ". pr-main__mobile pr-main__mobile pr-main__mobile pr-main__mobile pr-main__mobile pr-main__mobile pr-main__mobile pr-main__mobile pr-main__mobile pr-main__mobile pr-main__mobile"
  ". pr-main__services pr-main__services pr-main__services pr-main__services pr-main__services pr-main__services pr-main__services pr-main__services pr-main__services pr-main__services pr-main__services"
  ". pr-main__services__list pr-main__services__list pr-main__services__list pr-main__services__list pr-main__services__list pr-main__services__list pr-main__services__list pr-main__services__list pr-main__services__list pr-main__services__list pr-main__services__list"
  ". pr-main__neighborhood pr-main__neighborhood pr-main__neighborhood pr-main__neighborhood pr-main__neighborhood pr-main__neighborhood pr-main__neighborhood pr-main__neighborhood pr-main__neighborhood pr-main__neighborhood pr-main__neighborhood"
  ". pr-main__password pr-main__password pr-main__password pr-main__password pr-main__password pr-main__password pr-main__password pr-main__password pr-main__password pr-main__password pr-main__password"
  ". pr-main__confirm-password pr-main__confirm-password pr-main__confirm-password pr-main__confirm-password pr-main__confirm-password pr-main__confirm-password pr-main__confirm-password pr-main__confirm-password pr-main__confirm-password pr-main__confirm-password pr-main__confirm-password"
  ". pr-main__terms-of-service pr-main__terms-of-service pr-main__terms-of-service pr-main__terms-of-service pr-main__terms-of-service pr-main__terms-of-service pr-main__terms-of-service pr-main__terms-of-service pr-main__terms-of-service pr-main__terms-of-service pr-main__terms-of-service"
  ". pr-main__already-an-user pr-main__already-an-user pr-main__already-an-user pr-main__already-an-user pr-main__already-an-user pr-main__already-an-user pr-main__already-an-user pr-main__already-an-user pr-main__already-an-user pr-main__already-an-user pr-main__already-an-user"
  ". pr-main__submit pr-main__submit pr-main__submit pr-main__submit pr-main__submit pr-main__submit pr-main__submit pr-main__submit pr-main__submit pr-main__submit pr-main__submit";
  grid-area: pr-main;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.pr-main__dog { 
  grid-area: pr-main__dog; 
  background-image: url('/img/professionals-new.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  font-size: 14px;
}

.pr-main__title { 
  grid-area: pr-main__title; 
  padding: 5% 0 2% 5;
  font-size: 30px;
  color: #a3a3a3;
  font-weight: bold;
}
.pr-main__title--highlight {
  color: #39b99b;
}
.pr-main__subtitle { 
  grid-area: pr-main__subtitle; 
  font-size: 15px;
  color: #a3a3a3;
}

.pr-main__name { 
  grid-area: pr-main__name;
  color: #a3a3a3;
  font-weight: bold;
}
.pr-main__name-input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  color: #a3a3a3;
  font-weight: normal;
}

.pr-main__email { 
  grid-area: pr-main__email;
  color: #a3a3a3;
  font-weight: bold;
}
.pr-main__email-input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  color: #a3a3a3;
  font-weight: normal;
}

.pr-main__mobile {
  grid-area: pr-main__mobile;
  color: #a3a3a3;
  font-weight: bold;
}
.pr-main__mobile-input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  color: #a3a3a3;
  font-weight: normal;
}

.pr-main__services{
  grid-area: pr-main__services;
  align-self: center;
  justify-self: left;
  width: 100%;
  color: #a3a3a3;
  font-weight: bold;
}
.pr-main__services__list {
  display: grid;
  grid-area: pr-main__services__list;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 1px 1px;
  grid-template-areas: "services__item1 services__item3" 
  "services__item2 services__item5" 
  "services__item4 .";
  color: #a3a3a3;
  font-weight: normal;
}
.services__item1{grid-area:services__item1}
.services__item2{grid-area:services__item2}
.services__item3{grid-area:services__item3}
.services__item4{grid-area:services__item4}
.services__item5{grid-area:services__item5}

.pr-main__services-input {
  color: #a3a3a3;
  border: none;
  transform: scale(1.3);
}
.pr-main__services-label {
  font-size: 0.9em;
}


.pr-main__neighborhood {
  grid-area: pr-main__neighborhood;
  color: #a3a3a3;
  font-weight: bold;
}

.pr-main__neighborhood-select {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #a3a3a3;
  height: 35px;
  font-weight: normal;
}

.pr-main__password {
  grid-area: pr-main__password;
  color: #a3a3a3;
  font-weight: bold;
}
.pr-main__password-input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  color: #a3a3a3;
  font-weight: normal;
}

.pr-main__confirm-password {
  grid-area: pr-main__confirm-password;
  color: #a3a3a3;
  font-weight: bold;
}
.pr-main__confirm-password-input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  color: #a3a3a3;
  font-weight: normal;
}

.pr-main__terms-of-service { 
  grid-area: pr-main__terms-of-service; 
  align-self: center;
  justify-self: left;
  color: #a3a3a3;
}
.pr-main__terms-of-service-input {
  color: #a3a3a3;
  border: none;
  transform: scale(1.3);
}
.pr-main__terms-of-service-label {
  color: #a3a3a3;
  font-size: 0.9em;
}

.pr-main__already-an-user { 
  grid-area: pr-main__already-an-user; 
  align-self: center;
  justify-self: left;
  padding-bottom: 20px;
  color: #a3a3a3;
}
.pr-main__already-an-user-content {
  width: 100%;
  font-size: 0.9em;
}
.pr-main__already-an-user-content--link {
  /* color: #44e2be; */
  color: #a3a3a3;
}

.pr-main__submit { 
  grid-area: pr-main__submit; 
  align-self: center;
  padding-bottom: 20px;
}
.pr-main__submit-button {
  display: block;
  padding: 10px 20px;
  width: 100%;
  color: white;
  background-color: #39b99b;
  border-color: none;
  text-transform: uppercase;
  border-radius: 10px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .pr-header { 
    grid-area: pr-header;
    background-color: #f0eac2;
  }

  .pr-footer { 
    grid-area: pr-footer;
    background-color: #a6adb4;
  }

  .pr-grid-container {
    background-color: #f6f8f9;
  }

  .pr-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
    "pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__title pr-main__title pr-main__title pr-main__title pr-main__title pr-main__title"
    "pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__subtitle pr-main__subtitle pr-main__subtitle pr-main__subtitle pr-main__subtitle pr-main__subtitle"
    "pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__name pr-main__name pr-main__name pr-main__name pr-main__name pr-main__name"
    "pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__email pr-main__email pr-main__email pr-main__email pr-main__email pr-main__email"
    "pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__mobile pr-main__mobile pr-main__mobile pr-main__mobile pr-main__mobile pr-main__mobile"
    "pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__services pr-main__services pr-main__services pr-main__services pr-main__services pr-main__services"
    "pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__services__list pr-main__services__list pr-main__services__list pr-main__services__list pr-main__services__list pr-main__services__list"
    "pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__neighborhood pr-main__neighborhood pr-main__neighborhood pr-main__neighborhood pr-main__neighborhood pr-main__neighborhood"
    "pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog  pr-main__password pr-main__password pr-main__password pr-main__confirm-password pr-main__confirm-password pr-main__confirm-password"
    "pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__terms-of-service pr-main__terms-of-service pr-main__terms-of-service pr-main__terms-of-service pr-main__terms-of-service pr-main__terms-of-service"
    "pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog pr-main__dog  pr-main__already-an-user pr-main__already-an-user pr-main__already-an-user pr-main__submit pr-main__submit pr-main__submit";
    grid-area: pr-main;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
  }
}



/* search results style */
.sr-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 0px 0px;
  grid-template-areas: "sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header" "sr-search sr-search sr-search sr-search sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results" "sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer";
  height:100%;
}
.sr-header { grid-area: sr-header; }
.sr-footer { grid-area: sr-footer; }
.sr-search { grid-area: sr-search; }
.sr-search-results { grid-area: sr-search-results; }

@media only screen and (max-width: 768px){
  .sr-grid-container{
    grid-template-areas: "sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header sr-header" "sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results sr-search-results" "sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer sr-footer";
  }    
}

/* user adm profile style */
.uap-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 0px 0px;
  grid-template-areas: "uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header" "uap-profile uap-profile uap-profile uap-profile uap-form uap-form uap-form uap-form uap-form uap-form uap-form uap-form" "uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer";
  height:100%;
}
.uap-header { grid-area: uap-header; }
.uap-footer { grid-area: uap-footer; }
.uap-profile { grid-area: uap-profile; }
.uap-form { grid-area: uap-form; }

@media only screen and (max-width: 768px){
  .uap-grid-container{
    grid-template-rows: 110px auto 1fr 200px;
    grid-template-areas: "uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header uap-header" "uap-profile uap-profile uap-profile uap-profile  uap-profile uap-profile uap-profile uap-profile uap-profile uap-profile uap-profile uap-profile" "uap-form uap-form uap-form uap-form uap-form uap-form uap-form uap-form uap-form uap-form uap-form uap-form" "uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer uap-footer";
  } 
}

/* professional adm profile style */
.pap-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 0px 0px;
  grid-template-areas: "pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header" "pap-profile pap-profile pap-profile pap-profile pap-form pap-form pap-form pap-form pap-form pap-form pap-form pap-form" "pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer";
  height:100%;
}
.pap-header { grid-area: pap-header; }
.pap-footer { grid-area: pap-footer; }
.pap-profile { grid-area: pap-profile; }
.pap-form { grid-area: pap-form; }

@media only screen and (max-width: 768px){
  .pap-grid-container{
    grid-template-rows: 110px auto 1fr 200px;
    grid-template-areas: "pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header pap-header" "pap-profile pap-profile pap-profile pap-profile pap-profile pap-profile pap-profile pap-profile pap-profile pap-profile pap-profile pap-profile" "pap-form pap-form pap-form pap-form pap-form pap-form pap-form pap-form pap-form pap-form pap-form pap-form" "pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer pap-footer";
  } 
}

/* user public profile style */
.upp-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 0px 0px;
  grid-template-areas: "upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header" "upp-profile upp-profile upp-profile upp-profile upp-info upp-info upp-info upp-info upp-info upp-info upp-info upp-info" "upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer";
  height:100%;
}
.upp-header { grid-area: upp-header; }
.upp-footer { grid-area: upp-footer; }
.upp-profile { grid-area: upp-profile; }
.upp-form { grid-area: upp-info; }

@media only screen and (max-width: 768px){
  .upp-grid-container {
    grid-template-rows: 110px auto 1fr 200px;
    grid-template-areas: "upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header upp-header" "upp-profile upp-profile upp-profile upp-profile upp-profile upp-profile upp-profile upp-profile upp-profile upp-profile upp-profile upp-profile" "upp-info upp-info upp-info upp-info upp-info upp-info upp-info upp-info upp-info upp-info upp-info upp-info" "upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer upp-footer"; 
  } 
}

/*professional public profile style */
.ppp-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 0px 0px;
  grid-template-areas: "ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header" "ppp-profile ppp-profile ppp-profile ppp-profile ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info" "ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer";
  height:100%;
}
.ppp-header { grid-area: ppp-header; }
.ppp-footer { grid-area: ppp-footer; }
.ppp-profile { grid-area: ppp-profile; }
.ppp-form { grid-area: ppp-info; }

@media only screen and (max-width: 768px){
  .ppp-grid-container {
    grid-template-rows: 110px auto 1fr 200px;
    grid-template-areas: "ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header ppp-header" "ppp-profile ppp-profile ppp-profile ppp-profile ppp-profile ppp-profile ppp-profile ppp-profile ppp-profile ppp-profile ppp-profile ppp-profile" "ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info ppp-info" "ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer ppp-footer"; 
  } 
}

/* terms of use style */
.tou-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 0px 1px;
  grid-template-areas: "tou-header tou-header tou-header tou-header tou-header tou-header tou-header tou-header tou-header tou-header tou-header tou-header" 
  ". tou-terms-of-use tou-terms-of-use tou-terms-of-use tou-terms-of-use tou-terms-of-use tou-terms-of-use tou-terms-of-use tou-terms-of-use tou-terms-of-use tou-terms-of-use ." 
  "tou-footer tou-footer tou-footer tou-footer tou-footer tou-footer tou-footer tou-footer tou-footer tou-footer tou-footer tou-footer";
  height:100%;
  background-color: #f6f8f9;
}
.tou-header { 
  grid-area: tou-header; 
  background-color: #ecf1f1;
}
.tou-footer { 
  grid-area: tou-footer; 
  background-color: #a6adb4;
}
.tou__terms-of-use { 
  font-family: Arial, Helvetica, sans-serif;
  grid-area: tou-terms-of-use; 
  padding: 5% 0;
}
#tou__title {
  text-align: center;
}

.tou__articles {
  text-align: justify;
}

/* faq style */
.f-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 1px 1px;
  grid-template-areas: "f-header f-header f-header f-header f-header f-header f-header f-header f-header f-header f-header f-header" "f-faq f-faq f-faq f-faq f-faq f-faq f-faq f-faq f-faq f-faq f-faq f-faq" "f-footer f-footer f-footer f-footer f-footer f-footer f-footer f-footer f-footer f-footer f-footer f-footer";
  height:100%;
}
.f-header { grid-area: f-header; }
.f-footer { grid-area: f-footer; }
.f-faq { grid-area: f-faq; }

/* about us style */
.au-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 200px;
  gap: 1px 1px;
  grid-template-areas: "au-header au-header au-header au-header au-header au-header au-header au-header au-header au-header au-header au-header" "au-about au-about au-about au-about au-about au-about au-about au-about au-about au-about au-about au-about" "au-footer au-footer au-footer au-footer au-footer au-footer au-footer au-footer au-footer au-footer au-footer au-footer";
  height:100%;
}
.au-header { grid-area: au-header; }
.au-footer { grid-area: au-footer; }
.au-about { grid-area: au-about; }

/* footer style*/
.footer-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1auto;
  gap: 0px 0px;
  grid-template-areas: "footer-services-link footer-services-link footer-services-link footer-services-link footer-newsletter footer-newsletter footer-newsletter footer-newsletter footer-social-links footer-social-links footer-social-links footer-social-links";
}
.footer-services-link { grid-area: footer-services-link;}
.footer-social-links { grid-area: footer-social-links;}
.footer-newsletter { grid-area: footer-newsletter;}

@media only screen and (max-width: 768px){
  .footer-grid-container{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1auto 1auto;
    gap: 0px 0px;
    grid-template-areas: "footer-services-link footer-services-link footer-services-link footer-services-link footer-services-link footer-services-link footer-social-links footer-social-links footer-social-links footer-social-links footer-social-links footer-social-links""footer-newsletter footer-newsletter footer-newsletter footer-newsletter footer-newsletter footer-newsletter footer-newsletter footer-newsletter footer-newsletter footer-newsletter footer-newsletter footer-newsletter";  
  } 
}

/* media queries to header and footer heights */
@media only screen and (max-width: 768px){
  .ur-grid-container,.pr-grid-container,.sr-grid-container,.uap-grid-container,.pap-grid-container,.upp-grid-container,.ppp-grid-container{
    grid-template-rows: 110px 1fr auto;  
  }
}

@media only screen and (max-width: 574px){
  .ur-grid-container,.pr-grid-container,.sr-grid-container,.uap-grid-container,.pap-grid-container,.upp-grid-container,.ppp-grid-container{
    grid-template-rows: 80px 1fr auto;  
  }
}