<%- include('includes/head',{title:"About us"}) %>
<body>
  <div class="au-grid-container">
    <div class="au-header">
      <%- include('includes/header') %>
    </div>
    <div class="au-about"></div>
    <div class="au-footer">
      <%- include('includes/footer') %>
    </div>
  </div>
</body>