<%- include('../includes/head',{title:"FAQ"}) %>
<body>
  <div class="f-grid-container">
    <div class="f-header">
      <%- include('../includes/header') %>
    </div>
    <div class="f-faq">faq texto</div>
    <div class="f-footer">
      <%- include('../includes/footer') %>
    </div>
  </div>
</body>