<%- include('../includes/head',{title:"Home"}) %>
  <div class="home-grid-container">
    <div class="home-header">
      <%- include('../includes/header') %>
    </div>
    <div class="home-banner">banner-img-bg</div>
    <div class="home-search">area da busca position absolute ou fixed</div>
    <div class="home-professionals">perfis profissionais mais avaliados</div>
    <div class="home-testimonial">depoimento</div>
    <div class="home-faq">faq</div>
    <div class="home-footer">
      <%- include('../includes/footer') %>
    </div>
  </div>
</body>
