<%- include('../includes/head',{title:"Termos de uso"}) %>
<body>
  <div class="tou-grid-container">
    <div class="tou-header">
      <%- include('../includes/header') %>
    </div>
    <div class="tou-terms-of-use">termos de uso</div>
    <div class="tou-footer">
      <%- include('../includes/footer') %>
    </div>
  </div>
</body>