<%- include('../includes/head',{title:"Termos de uso"}) %>
<body>
  <%- include('../includes/flash_messages') %>

  <div class="tou-grid-container">
    <div class="tou-header">
      <%- include('../includes/header') %>
    </div>
    <div class="tou__terms-of-use">
      <h1 id="tou__title">TERMOS DE USO</h1>
      <p>Última atualização: 2020-04-13</p> 
      <section>
        <article class="tou__articles">
          <h3>1. Introdução</h3>
          <span>Bem-vindo à SUPERPETS ATIVIDADES DE INTERNET LTDA (“SuperPets”)! Estes Termos de Serviço ("Termos", "Termos de Serviço") regem o uso do nosso site localizado em http://www.superpets.com (em conjunto ou individualmente "Serviço") operado pela SUPERPETS ATIVIDADES DE INTERNET LTDA ("SuperPets ”).
          Nossa Política de Privacidade também rege o uso de nosso Serviço e explica como coletamos, salvaguardamos e divulgamos informações resultantes do uso de nossas páginas da web.
          O seu contrato conosco inclui estes Termos e nossa Política de Privacidade ("Contratos"). Você reconhece que leu e entendeu os Contratos e concorda em se comprometer com eles.
          Se você não concorda com (ou não pode cumprir) os Contratos, não poderá usar o Serviço, mas informe-nos enviando um e-mail para suporte@superpets.com para que possamos tentar encontrar uma solução. Estes Termos se aplicam a todos os visitantes, usuários e outras pessoas que desejam acessar ou usar o Serviço.</span>
        </article>
        <article class="tou__articles">
          <h3>2. Comunicações</h3>
          <span>Ao usar nosso Serviço, você concorda em assinar boletins, materiais de marketing ou promocionais e outras informações que podemos enviar. No entanto, você pode optar por não receber nenhuma ou todas as nossas comunicações, seguindo o link de cancelamento de inscrição ou enviando um e-mail para suporte@superpets.com.</span>
        </article>
        <article class="tou__articles">
          <h3>3. Produtos e Serviços</h3>
          <span>
            Se você deseja adquirir qualquer produto ou serviço disponibilizado por meio do Serviço ("Compra"), pode ser solicitado que você forneça certas informações relevantes à sua compra, incluindo, mas não se limitando ao número do seu cartão de crédito ou débito, a data de vencimento do seu cartão, endereço de cobrança e informações de remessa.
            Você declara e garante que: (i) você tem o direito legal de usar qualquer cartão (s) ou outro (s) método (s) de pagamento em conexão com qualquer Compra; e que (ii) as informações que você nos fornece são verdadeiras, corretas e completas.
            Podemos empregar o uso de serviços de terceiros com o objetivo de facilitar o pagamento e a conclusão das compras. Ao enviar suas informações, você nos concede o direito de fornecer essas informações a terceiros, sujeitos à nossa Política de Privacidade.
            Reservamo-nos o direito de recusar ou cancelar seu pedido a qualquer momento por motivos que incluem, entre outros: disponibilidade de produtos ou serviços, erros na descrição ou preço do produto ou serviço, erros no seu pedido ou outros motivos.
            Reservamo-nos o direito de recusar ou cancelar seu pedido se houver suspeita de fraude ou transação ilegal ou não autorizada.
          </span>
        </article>
        <article class="tou__articles">
          <h3>4. Concursos, sorteios e promoções</h3>
          <span>
            Quaisquer concursos, sorteios ou outras promoções (coletivamente, “Promoções”) disponibilizadas através do Serviço podem ser regidas por regras separadas destes Termos de Serviço. Se você participar de qualquer promoção, consulte as regras aplicáveis, bem como nossa Política de Privacidade. Se as regras de uma Promoção entrarem em conflito com estes Termos de Serviço, as regras de Promoção serão aplicadas.
          </span>
        </article>
        <article class="tou__articles">
          <h3>5. Reembolsos Emitimos</h3>
          <span>
            Reembolsos de contratos no prazo de 7 dias após a compra original do contrato.
          </span>
        </article>
        <article class="tou__articles">
          <h3>6. Conteúdo</h3>
          <span>
            Nosso Serviço permite que você publique, vincule, armazene, compartilhe e disponibilize determinadas informações, textos, gráficos, vídeos ou outro material ("Conteúdo"). Você é responsável pelo Conteúdo publicado no Serviço ou por meio dele, incluindo sua legalidade, confiabilidade e adequação.
            Ao publicar o Conteúdo no Serviço ou por meio dele, Você declara e garante que: (i) O conteúdo é seu (você é o proprietário) e / ou tem o direito de usá-lo e o direito de nos conceder os direitos e a licença, conforme fornecido nestes Termos e (ii) que a publicação do seu Conteúdo no ou através do Serviço não viola os direitos de privacidade, direitos de publicidade, direitos autorais, direitos de contrato ou quaisquer outros direitos de qualquer pessoa ou entidade. Reservamo-nos o direito de encerrar a conta de qualquer pessoa que viole um direito autoral.
            Você mantém todo e qualquer um dos seus direitos sobre qualquer Conteúdo enviado, publicado ou exibido no Serviço ou por meio dele e é responsável por proteger esses direitos. Não assumimos nenhuma responsabilidade e não assumimos qualquer responsabilidade pelo Conteúdo que você ou qualquer publicação de terceiros no Serviço ou através dele. No entanto, ao publicar o Conteúdo usando o Serviço, você nos concede o direito e a licença de usar, modificar, executar publicamente, exibir publicamente, reproduzir, e distribuir esse Conteúdo no e através do Serviço. Você concorda que esta licença inclui o direito de disponibilizarmos seu conteúdo para outros usuários do Serviço, que também podem usar o seu conteúdo sujeito a estes Termos.
            A SUPERPETS ATIVIDADES DE INTERNET LTDA (“SuperPets”) tem o direito, mas não a obrigação, de monitorar e editar todo o Conteúdo fornecido pelos usuários.
            Além disso, o Conteúdo encontrado neste ou através deste Serviço é de propriedade da SUPERPETS ATIVIDADES DE INTERNET LTDA (“SuperPets”) ou usado com permissão. Você não pode distribuir, modificar, transmitir, reutilizar, baixar, republicar, copiar ou usar o referido Conteúdo, no todo ou em parte, para fins comerciais ou para ganho pessoal, sem a permissão prévia por escrito da nossa parte.
          </span>
        </article>
        <article class="tou__articles">
          <h3>7. Usos Proibidos</h3>
          <span>
            Você pode usar o Serviço apenas para fins legais e de acordo com os Termos. Você concorda em não usar o Serviço:
            7.1. De qualquer forma que viole qualquer lei ou regulamento nacional ou internacional aplicável.
            7.2 Com o objetivo de explorar, prejudicar ou tentar explorar ou prejudicar menores de qualquer forma, expondo-os a conteúdo inapropriado ou não.
            7.3 Para transmitir ou obter o envio de qualquer material publicitário ou promocional, incluindo "lixo eletrônico", "carta em cadeia", "spam" ou qualquer outra solicitação semelhante.
            7.4 Representar ou tentar representar a Empresa, um funcionário da Empresa, outro usuário ou qualquer outra pessoa ou entidade.
            7.5 De qualquer forma que infrinja os direitos de terceiros, ou seja ilegal, ameaçador, fraudulento ou prejudicial, ou em conexão com qualquer finalidade ou atividade ilegal, ilegal, fraudulenta ou prejudicial.
            7.6. Envolver-se em qualquer outra conduta que restrinja ou iniba o uso ou gozo do Serviço por alguém, ou que, conforme determinado por nós, possa prejudicar ou ofender a Empresa ou os usuários do Serviço ou expô-los à responsabilidade.
            7.7 Use o Serviço de qualquer maneira que possa desativar, sobrecarregar, danificar ou prejudicar o Serviço ou interferir no uso do Serviço por qualquer outra parte, incluindo sua capacidade de se envolver em atividades em tempo real através do Serviço.
            7.8 Use qualquer robô, aranha ou outro dispositivo, processo ou meio automático para acessar o Serviço para qualquer fim, incluindo monitorar ou copiar qualquer material do Serviço.
            7.9 Use qualquer processo manual para monitorar ou copiar qualquer material do Serviço ou para qualquer outra finalidade não autorizada sem o nosso consentimento prévio por escrito.
            7.10 Use qualquer dispositivo, software ou rotina que interfira no bom funcionamento do Serviço.
            7.11 Introduzir vírus, cavalos de Tróia, worms, bombas lógicas ou outro material malicioso ou tecnologicamente prejudicial.
            7.12 Tente obter acesso não autorizado, interferir, danificar ou interromper qualquer parte do Serviço, o servidor no qual o Serviço está armazenado ou qualquer servidor, computador ou banco de dados conectado ao Serviço.
            7.13 Serviço de ataque por meio de um ataque de negação de serviço ou um ataque de negação de serviço distribuído.
            7.14 Realize qualquer ação que possa danificar ou falsificar a classificação da empresa.
            7.15 Caso contrário, tente interferir com o bom funcionamento do Serviço.
          </span>
        </article>
        <article class="tou__articles">
          <h3>8. Análise</h3>
          <span>
            Podemos usar provedores de serviços de terceiros para monitorar e analisar o uso de nosso serviço.
          </span>
        </article>
        <article class="tou__articles">
          <h3>9. Uso por Menores de Idade</h3>
          <span>
            Serviço destina-se apenas ao acesso e uso por indivíduos com pelo menos dezoito (18) anos de idade. Ao acessar ou usar o Serviço, você garante e declara ter pelo menos dezoito (18) anos de idade e com total autoridade, direito e capacidade de celebrar este contrato e cumprir todos os termos e condições dos Termos. Se você não tiver pelo menos dezoito (18) anos de idade, será proibido o acesso e o uso do Serviço.
          </span>
        </article>
        <article class="tou__articles">
          <h3>10. Contas</h3>
          <span>

          </span>
        </article>
        <article class="tou__articles">
          Ao criar uma conta conosco, você garante que tem mais de 18 anos e que as informações que você nos fornece são precisas, completas e atualizadas o tempo todo. Informações imprecisas, incompletas ou obsoletas podem resultar no cancelamento imediato da sua conta no Serviço.
          Você é responsável por manter a confidencialidade de sua conta e senha, incluindo, entre outros, a restrição de acesso ao seu computador e / ou conta. Você concorda em aceitar a responsabilidade por todas e quaisquer atividades ou ações que ocorram sob sua conta e / ou senha, independentemente de sua senha estar em nosso Serviço ou em um serviço de terceiros. Você deve nos notificar imediatamente após tomar conhecimento de qualquer violação de segurança ou uso não autorizado de sua conta.
          Você não pode usar como nome de usuário o nome de outra pessoa ou entidade ou que não esteja legalmente disponível para uso, um nome ou marca comercial que esteja sujeita a quaisquer direitos de outra pessoa ou entidade que não seja você, sem a devida autorização. Você não pode usar como nome de usuário qualquer nome que seja ofensivo, vulgar ou obsceno.
          Reservamo-nos o direito de recusar serviço, encerrar contas, remover ou editar conteúdo ou cancelar pedidos a nosso critério.    
        </article>
        <article class="tou__articles">
          <h3>11. Propriedade Intelectual</h3>
          <span>
            Serviço de seu conteúdo original (excluindo o Conteúdo fornecido pelos usuários), recursos e funcionalidades são e continuarão sendo de propriedade exclusiva da SUPERPETS ATIVIDADES DE INTERNET LTDA (“SuperPets”) e de seus licenciadores. O serviço é protegido por direitos autorais, marca comercial e outras leis de países estrangeiros. Nossas marcas comerciais não podem ser usadas em conexão com qualquer produto ou serviço sem o consentimento prévio por escrito da SUPERPETS ATIVIDADES DE INTERNET LTDA (“SuperPets”).
          </span>
        </article>
        <article class="tou__articles">
          <h3>12. Política de direitos autorais</h3>
          <span>
            Nós respeitamos os direitos de propriedade intelectual de terceiros. É nossa política responder a qualquer reivindicação de que o Conteúdo postado no Serviço viole os direitos autorais ou outros direitos de propriedade intelectual ("Violação") de qualquer pessoa ou entidade.
            Se você é proprietário de direitos autorais ou está autorizado em nome de um deles e acredita que o trabalho protegido por direitos autorais foi copiado de maneira a constituir uma violação de direitos autorais, envie sua reivindicação por e-mail para suporte@superpets.com, com o assunto: "Violação de direitos autorais" e inclua em sua reivindicação uma descrição detalhada da suposta violação, conforme detalhado abaixo, em "Aviso e procedimento da DMCA para reivindicações de violação de direitos autorais"
            Você pode ser responsabilizado por danos (incluindo custos e honorários advocatícios) por declarações falsas ou incorretas reivindicações de fé sobre a violação de qualquer conteúdo encontrado no e / ou através do Serviço de seus direitos autorais.
          </span>
        </article>
        <article class="tou__articles">
          <h3>13. Aviso e Procedimento da DMCA para Reivindicações por Violação de Direitos Autorais</h3>
          <span>
            Você pode enviar uma notificação em conformidade com a Lei de Direitos Autorais do Milênio Digital (DMCA) fornecendo ao nosso agente de direitos autorais as seguintes informações por escrito:
            13.1. uma assinatura eletrônica ou física da pessoa autorizada a agir em nome do proprietário do interesse dos direitos autorais;
            13.2 uma descrição do trabalho protegido por direitos autorais que você alega ter sido violado, incluindo o URL (ou seja, endereço da página da web) do local onde o trabalho protegido por direitos autorais existe ou uma cópia do trabalho protegido por direitos autorais;
            13.3 identificação do URL ou outro local específico no Serviço onde está localizado o material que você alega estar violando;
            13.4 seu endereço, número de telefone, e endereço de e-mail;
            13.5 uma declaração sua de que você acredita de boa fé que o uso contestado não está autorizado pelo proprietário dos direitos autorais, seu agente ou pela lei;
            13.6 uma declaração sua, feita sob pena de falso testemunho, de que as informações acima em seu aviso são precisas e que você é o proprietário dos direitos autorais ou está autorizado a agir em nome do proprietário dos direitos autorais.
            Você pode entrar em contato com nosso agente de direitos autorais pelo e-mail suporte@superpets.com.
          </span>
        </article>
        <article class="tou__articles">
          <h3>14. Relatório de erros e feedback</h3>
          <span>
            Você pode nos fornecer diretamente em suporte@superpets.com ou através de sites e ferramentas de terceiros informações e comentários sobre erros, sugestões de melhorias, idéias, problemas, reclamações e outros assuntos relacionados ao nosso Serviço ( "Comentários"). Você reconhece e concorda que: (i) você não deve reter, adquirir ou afirmar qualquer direito de propriedade intelectual ou outro direito, título ou interesse em ou para o Feedback; (ii) A empresa pode ter idéias de desenvolvimento semelhantes ao Feedback; (iii) O feedback não contém informações confidenciais ou proprietárias de você ou de terceiros; e (iv) A Empresa não está sob nenhuma obrigação de confidencialidade com relação ao Feedback. Caso a transferência da propriedade para o Feedback não seja possível devido às leis obrigatórias aplicáveis, você concede à Empresa e suas afiliadas um direito exclusivo, transferível, irrevogável, gratuito, sublicenciável, ilimitado e perpétuo de usar ( incluindo copiar, modificar, criar trabalhos derivados, publicar, distribuir e comercializar) Feedback de qualquer maneira e para qualquer finalidade.
          </span>
        </article>
        <article class="tou__articles">
          <h3>15. Links para outros sites</h3>
          <span>
            Nosso serviço pode conter links para sites ou serviços de terceiros que não pertencem ou são controlados pela SUPERPETS ATIVIDADES DE INTERNET LTDA (“SuperPets”).
            A SUPERPETS ATIVIDADES DE INTERNET LTDA (“SuperPets”) não tem controle e não assume nenhuma responsabilidade pelo conteúdo, políticas de privacidade ou práticas de quaisquer sites ou serviços de terceiros. Não garantimos as ofertas de nenhuma dessas entidades / indivíduos ou de seus sites.
            VOCÊ RECONHECE E CONCORDA QUE A EMPRESA NÃO SERÁ RESPONSÁVEL OU RESPONSÁVEL, DIRETA OU INDIRETAMENTE, POR QUALQUER DANO OU PERDA CAUSADA OU PERMITIDA SER CAUSADA POR OU EM CONEXÃO COM O USO OU CONFIANÇA EM QUALQUER CONTEÚDO, BENS OU SERVIÇOS DISPONÍVEIS EM OUTROS TAIS SITES OU SERVIÇOS NA WEB DE TERCEIROS.
            Aconselhamos enfaticamente que você leia os termos de serviço e as políticas de privacidade de quaisquer sites ou serviços de terceiros que você visitar.      
          </span>
        </article>
        <article class="tou__articles">
          <h3>16. Isenção de Garantia</h3>
          <span>
            ESTES SERVIÇOS SÃO FORNECIDOS PELA EMPRESA “COMO ESTÃO” E “COMO DISPONÍVEIS”. A EMPRESA NÃO FAZ REPRESENTAÇÕES OU GARANTIAS DE QUALQUER TIPO, EXPRESSAS OU IMPLÍCITAS, RELATIVAS À OPERAÇÃO DE SEUS SERVIÇOS, OU À INFORMAÇÃO, CONTEÚDO OU MATERIAIS INCLUÍDOS AQUI. VOCÊ CONCORDA EXPRESSAMENTE QUE O USO DESTE SERVIÇO, SEU CONTEÚDO E QUALQUER SERVIÇO OU ARTIGO OBTIDO DOS EUA É DE SUA CONTA E RISCO.
            NENHUMA EMPRESA, NENHUMA PESSOA ASSOCIADA À EMPRESA FAZ QUALQUER GARANTIA OU REPRESENTAÇÃO RELATIVA À COMPLEXIDADE, SEGURANÇA, CONFIABILIDADE, QUALIDADE, PRECISÃO OU DISPONIBILIDADE DOS SERVIÇOS. SEM LIMITAR O ANTERIOR, NENHUMA EMPRESA NEM ASSOCIADA AOS REPRESENTANTES OU GARANTIAS DA EMPRESA QUE OS SERVIÇOS, SEU CONTEÚDO OU QUALQUER SERVIÇO OU ARTIGO OBTIDO PELOS SERVIÇOS SERÃO PRECISOS, CONFIÁVEIS, SEM ERROS, OU INTERROMPIDOS, DEFEITOS QUE OS SERVIÇOS OU O SERVIDOR QUE O DISPONIBILIZA NÃO ESTÃO LIVRES DE VÍRUS OU OUTROS COMPONENTES PREJUDICIAIS, OU QUE OS SERVIÇOS OU QUALQUER SERVIÇO OU ARTIGO OBTIDO PELOS SERVIÇOS ATENDERÃO DE OUTRA FORMA AS NECESSIDADES OU EXPECTATIVAS.
            A EMPRESA AQUI REJEITA TODAS AS GARANTIAS DE QUALQUER TIPO, EXPRESSAS OU IMPLÍCITAS, ESTATUTÁRIAS OU DE OUTRA FORMA, INCLUINDO MAS NÃO SE LIMITANDO A QUALQUER GARANTIA DE COMERCIALIZAÇÃO, NÃO INFRACÇÃO E ADEQUAÇÃO A FINS ESPECÍFICOS.
            O acima exposto não afeta quaisquer garantias que não possam ser excluídas ou limitadas de acordo com a lei aplicável.      
          </span>
        </article>
        <article class="tou__articles">
          <h3>17. Limitação de responsabilidade</h3>
          <span>
            EXCETO COMO PROIBIDO POR LEI, VOCÊ DEVERÁ MANTER OS EUA E NOSSOS DIRETORES, DIRETORES, FUNCIONÁRIOS E AGENTES SEM INQUÉRITO POR QUALQUER DANO INDIRETO, PUNITIVO, ESPECIAL, INCIDENTAL OU CONSEQÜENTE, INCLUINDO TODOS OS ADVOGADOS CUSTOS E DESPESAS RELACIONADOS COM LITÍGIO E ARBITRAGEM OU EM JULGAMENTO OU EM RECURSO, SE HOUVER QUALQUER LUGAR OU ARBITRAGEM OU ARBITRAGEM INSTITUCIONAL), SEJA EM AÇÃO DE CONTRATO, NEGLIGÊNCIA OU OUTRA AÇÃO TORCIDA OU DECORRENTE DE OU EM CONEXÃO COM ESTE CONTRATO, INCLUINDO SEM LIMITAÇÃO QUALQUER REIVINDICAÇÃO DE LESÕES PESSOAIS OU DANOS PROPRIETÁRIOS, RESULTANTES DESTE CONTRATO E QUALQUER VIOLAÇÃO POR VOCÊ DE QUALQUER LEIS FEDERAL, ESTADUAL OU LOCAL, ESTATUTOS, REGRAS OU REGULAMENTOS, MESMO QUE A EMPRESA PREVENIR A POSSIBILIDADE DE TAIS DANOS. EXCETO COMO PROIBIDO POR LEI, SE EXISTIR RESPONSABILIDADE POR PARTE DA EMPRESA, SERÁ LIMITADO AO VALOR PAGO PELOS PRODUTOS E / OU SERVIÇOS, E SOB NENHUMA CIRCUNST NCIA EXISTEM DANOS CONSEQÜENCIAIS OU PUNITIVOS. ALGUNS ESTADOS NÃO PERMITEM A EXCLUSÃO OU LIMITAÇÃO DE DANOS PUNITIVOS, INCIDENTAIS OU CONSEQÜENCIAIS, POR ISSO A LIMITAÇÃO OU EXCLUSÃO ANTERIOR PODE NÃO SE APLICAR A VOCÊ.
          </span>
        </article>
        <article class="tou__articles">
          <h3>18. Rescisão</h3>
          <span>
            Podemos encerrar ou suspender sua conta e barrar o acesso ao Serviço imediatamente, sem aviso prévio ou responsabilidade, a nosso exclusivo critério, por qualquer motivo e sem limitação, incluindo mas não limitado a uma violação dos Termos.
            Se você deseja encerrar sua conta, pode simplesmente interromper o uso do Serviço.
            Todas as disposições dos Termos que, por sua natureza, devem sobreviver à rescisão deverão sobreviver à rescisão, incluindo, sem limitação, disposições de propriedade, isenções de garantia, indenização e limitações de responsabilidade.
          </span>
        </article>
        <article class="tou__articles">
          <h3>19. Lei aplicável</h3>
          <span>
            Estes Termos serão regidos e interpretados de acordo com as leis do Brasil, que aplicam-se a contratos sem levar em conta suas disposições sobre conflitos de leis.
            Nossa falha em fazer cumprir qualquer direito ou disposição destes Termos não será considerada uma renúncia a esses direitos. Se qualquer disposição destes Termos for considerada inválida ou inexequível por um tribunal, as demais disposições destes Termos permanecerão em vigor. Estes Termos constituem o contrato completo entre nós em relação ao nosso Serviço e substituem e substituem quaisquer acordos anteriores que pudéssemos ter entre nós em relação ao Serviço.      
          </span>
        </article>
        <article class="tou__articles">
          <h3>20. Alterações no Serviço</h3>
          <span>
            Reservamos o direito de retirar ou alterar nosso Serviço e qualquer serviço ou material que fornecemos via Serviço, a nosso critério exclusivo, sem aviso prévio. Não seremos responsáveis ​​se, por qualquer motivo, todo ou parte do Serviço não estiver disponível a qualquer momento ou por qualquer período. Periodicamente, podemos restringir o acesso a algumas partes do Serviço, ou a todo o Serviço, a usuários, incluindo usuários registrados.
          </span>
        </article>
        <article class="tou__articles">
          <h3>21. Alterações aos Termos</h3>
          <span>
            Podemos alterar os Termos a qualquer momento, publicando os termos alterados nesse site. É de sua responsabilidade revisar estes Termos periodicamente.
            Seu uso continuado da Plataforma após a publicação dos Termos revisados ​​significa que você aceita e concorda com as alterações. Espera-se que você verifique esta página com frequência para estar ciente de quaisquer alterações, pois elas são vinculativas para você.
            Ao continuar a acessar ou usar nosso Serviço após a efetivação de qualquer revisão, você concorda em ficar vinculado aos termos revisados. Se você não concorda com os novos termos, não está mais autorizado a usar o Serviço.      
          </span>
        </article>
        <article class="tou__articles">
          <h3>22. Renúncia e Divisibilidade</h3>
          <span>
            Nenhuma renúncia da Empresa a qualquer termo ou condição estabelecido nos Termos será considerada uma renúncia adicional ou contínua de tal termo ou condição ou renúncia a qualquer outro termo ou condição e qualquer falha da Empresa em afirmar um direito ou cláusula nos Termos não constituirá renúncia a esse direito ou cláusula.
            Se qualquer disposição dos Termos for considerada inválida, ilegal ou inexequível por um tribunal ou outro tribunal de jurisdição competente por qualquer motivo, tal disposição será eliminada ou limitada ao mínimo necessário para que as demais disposições dos Termos continuem em vigor. e efeito.
          </span>
        </article>
        <article class="tou__articles">
          <h3>23. Reconhece</h3>
          <span>
            Ao usar o serviço ou outros serviços fornecidos por nós, você leu esses termos de serviço e concorda em ficar vinculado a eles.
          </span>
        </article>
        <article class="tou__articles">
          <h3>24. Entre em contato</h3>
          <span>
            Envie seus comentários e solicitações de suporte técnico por e-mail suporte@superpets.com.
          </span>
        </article>
      </section> 
    </div>
    <div class="tou-footer">
      <%- include('../includes/footer') %>
    </div>
  </div>
</body>