<%- include('../includes/head',{title:"Perfil Administrativo Usuário"}) %>
<body>
  <div class="uap-grid-container">
    <div class="uap-header">
      <%- include('../includes/header') %>
    </div>
    <div class="uap-profile"></div>
    <div class="uap-form"></div>
    <div class="uap-footer">
      <%- include('../includes/footer') %>
    </div>
  </div> 
</body>