<%- include('includes/head',{title:"Cadastro de Usuário"}) %>
<body>
  <div class="ur-grid-container">
    <div class="ur-header">
      <%- include('includes/header') %>
    </div>
    <div class="ur-main">form</div>
    <div class="ur-footer">
      <%- include('includes/footer') %>
    </div>
  </div>
</body>