<%- include('../includes/head',{title:"Perfil Público Usuário"}) %>
<body>
  <div class="upp-grid-container">
    <div class="upp-header">
      <%- include('../includes/header') %>
    </div>
    <div class="upp-profile">img</div>
    <div class="upp-info">nome/img/pet-info</div>
    <div class="upp-footer">
      <%- include('../includes/footer') %>
    </div>
  </div>
</body>