<%- include('../includes/head',{title:"Nossos Serviços"}) %>
  <div class="services-grid-container">
    <div class="services-header">
      <%- include('../includes/header') %>
    </div>
    <div class="services-content">
      <div id="pet-training" class="services-pet-training">
        <img src="/img/pet-training-768x605.png" class="services-content__pet-training--mobile" alt="Adestramento">
        <img src="/img/pet-training.png" class="services-content__pet-training--large" alt="Adestramento">          
        <h1 class="services-pet-training__title">
          Adestramento
        </h1>
        <button class="services-pet-training__button">Agendar</button>
      </div>
      <div id="pet-baths" class="services-pet-baths">
        <img src="/img/pet-baths-768x605.png" class="services-pet-baths--mobile" alt="Banho">
        <img src="/img/pet-baths.png" class="services-pet-baths--large" alt="Banho">          
        <h1 class="services-pet-baths__title">
          Banho Completo
        </h1>
        <button class="services-pet-baths__button">Agendar</button>
      </div>
      <div id="dog-walking" class="services-dog-walking">
        <img src="/img/dog-walking-768x605.png" class="services-dog-walking--mobile" alt="Dog Walking">
        <img src="/img/dog-walking.png" class="services-dog-walking--large" alt="Dog Walking">          
        <h1 class="services-dog-walking__title">
          Dog Walking
        </h1>
        <button class="services-dog-walking__button">Agendar</button>
      </div>
      <div id="pet-grooming" class="services-pet-grooming">
        <img src="/img/pet-grooming-768x605.png" class="services-pet-grooming--mobile" alt="Tosa">
        <img src="/img/pet-grooming.png" class="services-pet-grooming--large" alt="Tosa">          
        <h1 class="services-pet-grooming__title">
          Banho & Tosa
        </h1>
        <button class="services-pet-grooming__button">Agendar</button>
      </div>
      <div id="pet-sitting" class="services-pet-sitting">
        <img src="/img/pet-sitting-768x605.png" class="services-pet-sitting--mobile" alt="Pet Sitting">
        <img src="/img/pet-sitting.png" class="services-pet-sitting--large" alt="Pet Sitting">          
        <h1 class="services-pet-sitting__title">
          Pet Sitting
        </h1>
        <button class="services-pet-sitting__button">Agendar</button>
      </div>
    </div>
    <div class="services-footer">
      <%- include('../includes/footer') %>
    </div>
  </div>
</body>
