<%- include('../includes/head',{title:"Nossos Serviços"}) %>
  <div class="services-grid-container">
    <div class="services-header">
      <%- include('../includes/header') %>
    </div>
    <div class="services-content">
      <div id="pet-training" class="services-pet-training">
        <img src="https://res.cloudinary.com/superpets/image/upload/v1592952096/pet-training-768x605_dnqp2r.jpg" class="services-content__pet-training--mobile" alt="Adestramento">
        <img src="https://res.cloudinary.com/superpets/image/upload/v1592952096/pet-training_asssah.jpg" class="services-content__pet-training--large" alt="Adestramento">          
        <h1 class="services-pet-training__title">
          Adestramento
        </h1>
        <a href="/professionals?services=1"><button class="services-pet-training__button">Agendar</button></a>
      </div>
      <div id="pet-baths" class="services-pet-baths">
        <img src="https://res.cloudinary.com/superpets/image/upload/v1592952095/pet-baths-768x605_lkvfkv.jpg" class="services-pet-baths--mobile" alt="Banho">
        <img src="https://res.cloudinary.com/superpets/image/upload/v1592952095/pet-baths_dq64xc.jpg" class="services-pet-baths--large" alt="Banho">          
        <h1 class="services-pet-baths__title">
          Banho Completo
        </h1>
        <a href="/professionals?services=11"><button class="services-pet-training__button">Agendar</button></a>
      </div>
      <div id="dog-walking" class="services-dog-walking">
        <img src="https://res.cloudinary.com/superpets/image/upload/v1592952154/dog-walking-768x605_tzwggm.jpg" class="services-dog-walking--mobile" alt="Dog Walking">
        <img src="https://res.cloudinary.com/superpets/image/upload/v1592952154/dog-walking_pwq9jh.jpg" class="services-dog-walking--large" alt="Dog Walking">          
        <h1 class="services-dog-walking__title">
          Dog Walking
        </h1>
        <a href="/professionals?services=31"><button class="services-pet-training__button">Agendar</button></a>
      </div>
      <div id="pet-grooming" class="services-pet-grooming">
        <img src="https://res.cloudinary.com/superpets/image/upload/v1592952095/pet-grooming-768x605_qhvf5v.jpg" class="services-pet-grooming--mobile" alt="Tosa">
        <img src="https://res.cloudinary.com/superpets/image/upload/v1592952095/pet-grooming_zqkypx.jpg" class="services-pet-grooming--large" alt="Tosa">          
        <h1 class="services-pet-grooming__title">
          Banho & Tosa
        </h1>
        <a href="/professionals?services=41"><button class="services-pet-training__button">Agendar</button></a>
      </div>
      <div id="pet-sitting" class="services-pet-sitting">
        <img src="https://res.cloudinary.com/superpets/image/upload/v1592952096/pet-sitting-768x605_huosax.jpg" class="services-pet-sitting--mobile" alt="Pet Sitting">
        <img src="https://res.cloudinary.com/superpets/image/upload/v1592952096/pet-sitting_gdgyyb.jpg" class="services-pet-sitting--large" alt="Pet Sitting">          
        <h1 class="services-pet-sitting__title">
          Pet Sitting
        </h1>
        <a href="/professionals?services=21"><button class="services-pet-training__button">Agendar</button></a>
      </div>
    </div>
    <div class="services-footer">
      <%- include('../includes/footer') %>
    </div>
  </div>
</body>
